@import '../../../../styles/responsive.scss';

h2 {
  font-size: 3rem;
  margin: 0;
  text-align: center;

  @include responsive('medium') {
    font-size: 3rem;
  }

  @include responsive('large') {
    font-size: 4rem;
  }
}

:host {
  &.termine {
    background-color: var(--project-name-header-termine-background);

    h2 {
      color: var(--project-name-header-termine-color);
    }
  }

  &.abandonne {
    background-color: var(--project-name-header-abandonne-background);

    h2 {
      color: var(--project-name-header-abandonne-color);
    }
  }

  &.en-cours {
    background-color: var(--project-name-header-en-cours-background);

    h2 {
      color: var(--project-name-header-en-cours-color);
    }
  }
}
