@import '../../../../styles/responsive.scss';

:host {
  padding: 1.2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h2 {
  font-size: var(--text-xxl);
  margin: 0;
}
