<div class="circle"></div>
<div>
  <h2 class="when">
    {{
      item.end_date
        ? (item.end_date | date: 'yyyy')
        : (currentDate | date: 'yyyy')
    }}
  </h2>
  <div class="what">{{ item.label }}</div>
  <div class="where">{{ item.company }}, {{ item.localization }}</div>
  @if (item.project.length > 0) {
    <div
      class="projects"
      [routerLink]="['projects']"
      [queryParams]="{ contexts: item.id }">
      {{ item.project.length }} réalisation{{
        item.project.length > 1 ? 's' : ''
      }}
      <app-right-arrow></app-right-arrow>
    </div>
  }
</div>
