@import '../../../styles/responsive.scss';

:host {
  width: fit-content;
}

/* CSS */
button {
  font-size: 1.2rem;
  padding: 13px 20px 13px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  white-space: nowrap;
  color: var(--button-color);
  border-radius: var(--inputs-border-radius);
  margin-bottom: 7px; //prise en compte du pseudo element "after"
  display: flex;
  align-items: center;
  gap: 0.5rem;

  ::ng-deep > *[icon] {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    min-height: 1.5rem;
  }

  @include responsive('medium') {
    padding: 13px 50px 13px;
  }

  &.outlined {
    border: 2px solid var(--button-border);

    &:after {
      content: '';
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
      border-radius: var(--inputs-border-radius);
      background-image: var(--button-background);
      background-size: cover;
    }

    &:hover:after {
      top: 0px;
      left: 0px;
    }
  }

  &.plain {
    border-width: 0;
    background-image: var(--button-background);
    background-size: cover;
    border-radius: var(--inputs-border-radius);
    border: 2px solid var(--button-plain-border);

    &:after {
      background-color: var(--button-plain-border);
      transition: 0.2s;
      border-radius: var(--inputs-border-radius);

      content: '';
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
    }

    &:hover {
      &:after {
        top: 0px;
        left: 0px;
      }
    }
  }
}
