:host {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
}

p {
  line-height: 180%;
  flex-grow: 1;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-auto-flow: column;
  min-height: 2.5rem;

  li {
    list-style: none;
    text-align: start;
  }
}
