@import '../../../styles/responsive.scss';

:host {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include responsive('large') {
    flex-direction: row;
    // gap: 1rem;
    align-items: flex-start;

    > div:nth-of-type(1) {
      width: 60%;
    }
  }
}

h2 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
}

h3 {
  @include responsive('large') {
    margin-top: 0;
    font-size: var(--text-xl);
  }
}

p {
  line-height: 170%;
  flex-grow: 1;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-auto-flow: column;
  min-height: 2.5rem;

  li {
    // list-style: none;
    text-align: start;
    margin-left: 1.5rem;
  }

  @include responsive('large') {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
