@import '../../../styles/responsive.scss';

:host {
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin: 0;
    font-size: var(--text-md);
  }
}

p {
  flex-grow: 1;
  margin: 0;
  color: var(--availability-next-color);
  align-content: end;
}
