@import '../../../styles/responsive.scss';

:host {
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin: 0;
    font-size: var(--text-md);
  }

  @include responsive('medium') {
    h2 {
      font-size: var(--text-lg);
    }
  }
}

p {
  flex-grow: 1;
  margin: 0;
  align-content: end;
}
