@import '../../../styles/responsive.scss';
@import '../../shared/grid/grid-item.scss';

:host {
  @include grid-1x4;

  @include responsive('large') {
    @include grid-1x1;

    .g-grid-item-main-text {
      max-width: 100%;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;

  h2 {
    margin: 0;
    font-size: var(--text-md);
  }
}

.next {
  color: var(--availability-next-color);
}
