@import '../../../styles/responsive.scss';

:host {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    @include responsive('medium') {
      font-size: 0.9rem;
    }
  }
}

h2 {
  font-size: var(--text-xxl);
}

p {
  font-size: var(--text-xs);
  max-width: 80%;
  line-height: 180%;
}

:not(svg) {
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: var(--gray-100);

  path[id^='particle'] {
    transform-box: fill-box;
    transform-origin: center;
    animation: pulse 1s infinite linear;
  }
}
