@import '../../../styles/responsive.scss';

:host {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    @include responsive('medium') {
      font-size: 0.9rem;
    }

    @include responsive('large') {
      font-size: 1rem;
    }
  }
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: var(--text-xxl);
}

p {
  font-size: var(--text-xs);
  max-width: 80%;
  line-height: 180%;
}

svg {
  color: var(--gray-100);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

:not(svg) {
  z-index: 10;
}

#wheel_1,
#wheel_2 {
  animation: rotate 3s linear infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
