<div class="infos">
  <div class="agence">
    <div class="g-bold-not-title">Résumé</div>
    <span [innerHTML]="contentService.description"></span>
  </div>
  <div class="contact">
    <div div class="g-bold-not-title">Me contacter</div>
    <a [href]="'mailto: ' + contentService.mail">{{ contentService.mail }}</a>
    <br />
    <a [href]="'tel:' + contentService.phone"> {{ contentService.phone }}</a>
  </div>
  <div class="identity">
    <div class="g-bold-not-title">Entreprise</div>
    Alexis Melo da Silva
    <br />
    Entreprise Individuelle
    <br />
    Caen, France
  </div>
</div>
<div class="copyright">
  © 2024 - Réalisé par Alexis Melo da Silva
  <!--| Crédits et politique de confidentialité | Cookies-->
</div>
