@import '../../../styles/responsive.scss';

:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

ul {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--gray-500);

    mat-icon {
      min-width: 10%;
    }
  }
}

h2 {
  margin: 0;
  font-size: var(--text-xxxl);
}

a {
  text-align: end;
  text-decoration: none;
  color: var(--gray-300);
}
