@import '../../shared/grid/grid-item.scss';
@import '../../../styles/responsive.scss';

:host {
  padding: 2rem;
}

h2 {
  font-size: var(--text-xxxl);
}

.now-block {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 12px;
  color: var(--gray-500);
}
