@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';
@import './timeline-item-left/timeline-item-common-variables.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashed-line {
    height: 100px;
    position: relative;
    border-left: 2px dashed $very-light-green;
    background-color: white;

    @media (min-width: $tablets) {
        border-left-width: 4px;
    }
}

.dashed-line:last-of-type {
    margin-top: -150px;
    height: 150px;
    z-index: -1;
    margin-bottom: 50px;

    @media (min-width: $tablets) {
        margin-top: -200px;
        height: 200px;
    }
}

.straight-line {
    height: calc(100%);
    position: absolute;
    border-left: 2px solid $very-light-green;
    z-index: -1;

    @media (min-width: $tablets) {
        border-left-width: 4px;
    }
}

.timeline {    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -10px;
    
    .items { 
        app-timeline-item-right {
            position: relative;
            left: calc(50% - $small-circle-size / 2);

            @media (min-width: $tablets) {
                left: calc(50% - $big-circle-size / 2);
            }
        }

        app-timeline-item-left {
            position: relative;
            right: calc(50% - $small-circle-size / 2);

            @media (min-width: $tablets) {
                right: calc(50% - $big-circle-size / 2);
            }
        }
        
        app-timeline-item-right, app-timeline-item-left {
            margin-bottom: 20px;

            @media (min-width: $tablets) {
                margin-bottom: 50px;
            }
        }
    }
}

