@import '../../../styles/responsive.scss';
@import './timeline-item-left/timeline-item-common-variables.scss';

$head-dashed-line-animation-duration: 0.5s;

$straight-line-hide-animation-duration: 4s;

$tail-dashed-line-hide-animation-delay-duration: 5s;

$timeline-items-animation-delay: calc(
  $straight-line-hide-animation-duration / 7
); // 7 = nombre total d'items - 1 (le premier qui a pas besoin de delay) -> à rendre réactif

$timeline-items-animation-appear-duration: 0.5s;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh; //pour pas avoir le footer qui remonte au chargement
}

.head-dashed-line {
  height: 100px;
  position: relative;
  border-left: 2px dashed;
  border-color: var(--timeline-color);
  background-color: var(--styles-background-color);
  z-index: 10;

  @include responsive('medium') {
    border-left-width: 4px;
  }
}

@keyframes uncover {
  100% {
    transform: scaleY(0);
  }
}

.head-dashed-line-hide {
  height: 100px;
  position: absolute;
  background-color: var(--styles-background-color);
  width: 10px;
  top: 0;
  transform: scaleY(1);
  transform-origin: 0 100%;
  animation: uncover $head-dashed-line-animation-duration linear forwards;
  z-index: 15;
}

.tail-dashed-line {
  @extend .head-dashed-line;
  position: absolute;
  margin-top: 10px;
  height: calc(100% - 10px);
}

.tail-dashed-line-hide {
  @extend .head-dashed-line-hide;
  animation-delay: $tail-dashed-line-hide-animation-delay-duration;
  margin-top: 10px;
  height: calc(100% - 10px);
}

.straight-line {
  height: 100%;
  position: absolute;
  border-left: 2px solid var(--timeline-color);
  z-index: 10;
  margin-top: 10px;

  @include responsive('medium') {
    border-left-width: 4px;
  }
}

.straight-line-hide {
  @extend .head-dashed-line-hide;
  height: 100%;
  animation: uncover $straight-line-hide-animation-duration linear forwards;
  animation-delay: $head-dashed-line-animation-duration;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -10px;

  .items {
    app-timeline-item-right {
      position: relative;
      left: calc(50% - $small-circle-size / 2);

      @include responsive('medium') {
        left: calc(50% - $big-circle-size / 2);
      }
    }

    app-timeline-item-left {
      position: relative;
      right: calc(50% - $small-circle-size / 2);

      @include responsive('medium') {
        right: calc(50% - $big-circle-size / 2);
      }
    }

    app-timeline-item-right,
    app-timeline-item-left {
      margin-bottom: 20px;

      @include responsive('medium') {
        margin-bottom: 50px;
      }
    }
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

app-timeline-item-right,
app-timeline-item-left {
  opacity: 0;
  animation: appear $timeline-items-animation-appear-duration ease-out forwards;
  z-index: 20;
}

@for $i from 0 through 10 {
  .timeline-item-#{$i} {
    animation-delay: calc(
      calc(#{$i * ($timeline-items-animation-delay)}) +
        $head-dashed-line-animation-duration
    );
  }
}
