<div class="head-dashed-line"></div>

<div class="timeline">
    <div class="straight-line"></div>

    <div class="items">
        @for (item of timelineItems; track item.id) {
            @switch (item.type) {
                @case ('Job') {
                    <app-timeline-item-right [item]="item"></app-timeline-item-right>
                }
                @case ('School') {
                    <app-timeline-item-left [item]="item"></app-timeline-item-left>
                }
            }
        }
    </div>
</div>

<div class="timeline">
    <div class="tail-dashed-line"></div>

    <div class="items">
        @switch (lastItem.type) {
            @case ('Job') {
                <app-timeline-item-right [item]="lastItem"></app-timeline-item-right>
            }
            @case ('School') {
                <app-timeline-item-left [item]="lastItem"></app-timeline-item-left>
            }
        }
    </div>
</div>
