@import '../../../styles/responsive.scss';

:host {
  padding: 2.5rem;

  @include responsive('large') {
    padding: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

  @include responsive('medium') {
    margin-bottom: 1rem;
  }

  @include responsive('large') {
    margin-bottom: 1.5rem;
  }
}
