:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 50%;
  height: 50%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
