@import '../../../styles/responsive.scss';

:host {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

h2 {
  margin: 0;
  font-size: var(--text-xl);
}

svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
