@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

:host {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  .scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    animation: loop 20s linear infinite;

    ::ng-deep > * {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  &.shouldFade .fade {
    width: 100%;
    position: absolute;
    background: linear-gradient(
      90deg,
      var(--moving-content-fade),
      transparent 10%,
      transparent 90%,
      var(--moving-content-fade)
    );
    inset: 0;
    z-index: 10;
    pointer-events: none;
  }

  //https://stackoverflow.com/a/19683983
  .fade:hover + .scroll {
    animation-play-state: paused;
  }
}
