@import '../../../../styles/responsive.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .text {
    line-height: 1.5rem;
  }

  @include responsive('medium') {
    flex-direction: row;

    .text {
      font-size: 0.8rem;
    }

    //image passe à gauche
    &.left {
      text-align: end;

      .image {
        order: 1;
      }

      .text {
        margin-right: 3rem;
      }
    }

    &.right {
      text-align: start;

      .text {
        margin-left: 3rem;
      }
    }
  }

  @include responsive('large') {
    .image-container {
      height: 300px;
    }
  }
}
