@import '../activable-chip/activable-chip.component.scss';

:host {
  position: relative;

  span {
    margin-right: 0;
    width: 100%;
  }

  &.left {
    app-details-menu {
      left: 0;
      right: auto;
    }
  }

  &.right {
    app-details-menu {
      left: auto;
      right: 0;
    }
  }
}

.hidden {
  display: none;
}

app-details-menu {
  position: absolute;
  top: 100%;
  bottom: auto;
  margin-top: 0.5rem;
}
