@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(from var(--color) r g b / 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.dot {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 0 var(--color);
  background-color: var(--color);
  transform: scale(1);

  &.pulse {
    animation: pulse 1.5s infinite;
  }
}
