:host {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

h2 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
}

p {
  line-height: 180%;
  flex-grow: 1;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;

  li {
    // list-style: none;
    margin-left: 1.5rem;
    text-align: start;
  }
}

mat-icon {
  position: absolute;
  right: 2.5rem;
  top: 2rem;
}

:not(svg) {
  z-index: 10;
}

p,
ul,
h2 {
  position: relative; //for z-index to work ??
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: var(--gray-100);

  path[id^='particle'] {
    transform-box: fill-box;
    transform-origin: center;
    animation: pulse 1s infinite linear;
  }
}
