@import '../../../shared/grid/grid-item.scss';
@import '../../../../styles/responsive.scss';

:host {
  @include grid-1x1;
}

.skill-status {
  background-color: var(--green-250);
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 30px;
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  transition: 500ms linear;

  @include responsive('medium') {
    height: 60px;
    width: 60px;
    border-top-left-radius: 20px;
    font-size: 0.8rem;
  }

  @include responsive('large') {
    height: 90px;
    width: 90px;
    border-top-left-radius: 30px;
    font-size: 1rem;
  }
}
