<div class="filters g-container">
  <app-input>
    <input
      type="text"
      placeholder="Trouver un projet..."
      [formControl]="filterFormControl" />
  </app-input>
  <app-filter-chip
    [active]="selectedContexts.length < contexts.length"
    [options]="contexts"
    [selectedOptions]="selectedContexts"
    (selected)="selectContext($event)"
    [large]="true"
    header="Sélectionnez un contexte">
    Contexte
  </app-filter-chip>
  <app-filter-chip
    [active]="selectedSkills.length < skills.length"
    [options]="skills"
    [selectedOptions]="selectedSkills"
    (selected)="selectSkill($event)"
    [large]="true"
    header="Sélectionnez une compétence">
    Compétence
  </app-filter-chip>
</div>

<div class="projects g-container">
  @for (project of selectedProjects; track project.id) {
    {{ project.label }}
  }
</div>
