@use '../../../styles/responsive.scss' as responsive;

:host {
  display: block;
  min-height: 80vh;
}

.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  min-height: 350px;

  @include responsive.responsive('medium') {
    grid-template-columns: 1fr 1fr;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;

  app-input {
    flex-grow: 1;
  }
}

app-key-header,
app-project-item-condensed {
  grid-column: 1 / 5;

  @include responsive.responsive('medium') {
    grid-column: 5 / 9;
  }
}

app-skill-section-description {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  position: sticky;

  @include responsive.responsive('medium') {
    grid-row: 1 / 3;
    grid-column: 1 / 5;
  }
}

app-project-filtering {
  grid-row: 4;
  grid-column: 1 / 4;

  @include responsive.responsive('medium') {
    position: sticky;
    top: calc(2 * (var(--cell-size) + var(--gap)));
    grid-row: 4;
    grid-column: 1 / 4;
  }
}

app-status-filtering {
  grid-row: 3;
  grid-column: 2 / 5;

  @include responsive.responsive('medium') {
    position: sticky;

    top: calc(var(--cell-size) + var(--gap));
    grid-row: 3;
    grid-column: 2 / 5;
  }
}

app-project-counter {
  grid-row: 3;
  grid-column: 1;

  @include responsive.responsive('medium') {
    position: sticky;

    top: calc(var(--cell-size) + var(--gap));
    grid-row: 3;
    grid-column: 1;
  }
}

app-order {
  grid-row: 4;
  grid-column: 4;

  @include responsive.responsive('medium') {
    position: sticky;
    top: calc(2 * (var(--cell-size) + var(--gap)));
    grid-row: 4;
    grid-column: 4;
  }
}

app-order {
  position: sticky;
  z-index: 100;
}
