@import '../../../styles/responsive.scss';

:host {
  display: block;
  min-height: 80vh;
}

.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  min-height: 350px;

  @include responsive('medium') {
    grid-template-columns: 1fr 1fr;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;

  app-input {
    flex-grow: 1;
  }
}

::ng-deep app-skill-section-header.g-grid-item {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: var(--archives-header-bg);

  h2 {
    color: var(--archives-header-color);
  }
}

app-skill-section-description {
  grid-row: 1 / 3;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 1;
    grid-column: 3 / 5;
  }
}

app-project-filtering {
  grid-row: 4;
  grid-column: 1 / 4;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 2 / 4;
  }
}

app-status-filtering {
  grid-row: 3;
  grid-column: 2 / 5;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 4;
  }
}

app-project-counter {
  grid-row: 3;
  grid-column: 1;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 1;
  }
}
