<div class="g-grid-container">
  <div class="g-grid">
    <app-skill-section-header>Archives</app-skill-section-header>
    <app-skill-section-description
      [mainText]="'Depuis 2017'"
      [secondaryText]="
        'Tous mes projets sont ici, triables selon vos critères ! Mes meilleurs projets et les moins bons forment, ensemble, le développeur que je suis aujourd’hui'
      "></app-skill-section-description>

    <app-project-counter
      [numerator]="selectedProjects.length"
      [denominator]="projects.length"></app-project-counter>

    <app-project-filtering></app-project-filtering>

    <app-status-filtering></app-status-filtering>

    @for (project of selectedProjects; track project.id) {
      <app-project-condensed-item
        [project]="project"></app-project-condensed-item>
    }
  </div>
</div>
