h2 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
}

h2,
p {
  color: var(--project-context-color);
}

:host {
  padding: 2rem;
  background-color: var(--project-context-background);
}

svg {
  position: absolute;
  bottom: 0;
  left: 50px;
}

:not(svg) {
  z-index: 10;
  position: relative;
}
