@import '../../../../styles/responsive.scss';

.sections {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

  h2 {
    text-align: center;
  }

  @include responsive('medium') {
    gap: 2rem;
  }
}
