@import '../../../styles/responsive.scss';

$icon-size: 2rem;
$gap: 1.5rem;

app-open-live {
  grid-row: 6;
  grid-column: 1 / 5;

  &.source-available {
    grid-column: 1 / 4;
  }
}

app-project-description {
  grid-row: 2 / 4;
  grid-column: 1 / 5;
}

app-project-details-icon {
  grid-row: 1;
  grid-column: 1;
}

app-github {
  grid-row: 6;
  grid-column: 4;
}

app-project-duration {
  grid-row: 1;
  grid-column: 2 / 5;
}

app-project-illustrations {
  grid-row: 4 / 6;
  grid-column: 1 / 5;
}

app-project-problematic {
  grid-row: 7 / 11;
  grid-column: 1 / 5;
}

app-project-context {
  grid-row: 11 / 13;
  grid-column: 1 / 5;
}

app-skills-recap {
  grid-row: 18 / 21;
  grid-column: 1 / 5;
}

app-project-coworkers {
  grid-row: 21 / 24;
  grid-column: 1 / 5;
}

app-project-participation {
  grid-row: 13 / 18;
  grid-column: 1 / 5;
}
