@import '../../../styles/responsive.scss';

$icon-size: 2rem;
$gap: 1.5rem;

app-open-live {
  grid-row: 6;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 4;
  }

  &.source-available {
    grid-column: 1 / 4;
  }
}

app-project-description {
  grid-row: 2 / 4;
  grid-column: 1 / 5;
}

app-project-details-icon {
  grid-row: 1;
  grid-column: 1;
}

.github {
  grid-row: 6;
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: center;

  app-github {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }

  @include responsive('medium') {
    grid-row: 4;
    grid-column: 4;
  }
}

app-project-duration {
  grid-row: 1;
  grid-column: 2 / 5;
}

app-project-illustrations {
  grid-row: 4 / 6;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 1 / 3;
    grid-column: 5 / 9;
  }
}

app-project-problematic {
  grid-row: 7 / 11;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 3 / 8;
    grid-column: 5 / 9;
  }
}

app-project-context {
  grid-row: 11 / 13;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 8 / 10;
    grid-column: 5 / 9;
  }
}

app-skills-recap {
  grid-row: 18 / 21;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 10 / 13;
    grid-column: 5 / 9;
  }
}

app-project-coworkers {
  grid-row: 21 / 24;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 11 / 14;
    grid-column: 1 / 5;
  }
}

app-project-participation {
  grid-row: 13 / 18;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 5 / 11;
  }
}
