<div class="g-grid-container">
  <div class="g-grid">
    @if (project) {
      <app-project-description [project]="project"></app-project-description>
      <app-project-duration [project]="project"></app-project-duration>
      <app-project-context [project]="project"></app-project-context>
      <app-project-illustrations
        [project]="project"></app-project-illustrations>

      <app-project-problematic [project]="project"></app-project-problematic>
      <app-project-skills [project]="project"></app-project-skills>

      <app-github [link]="project.source"></app-github>

      <app-project-coworkers [project]="project"></app-project-coworkers>
      <app-project-participation
        [project]="project"></app-project-participation>
    }
  </div>
</div>
