@import '../../../styles/responsive.scss';

$icon-size: 2rem;
$gap: 1.5rem;

app-project-name-header {
  grid-row: 6;
  grid-column: 2 / 5;
}

app-project-description {
  grid-row: 2 / 4;
  grid-column: 1 / 5;
}

app-project-details-icon {
  grid-row: 1;
  grid-column: 1;
}

app-github {
  grid-row: 6;
  grid-column: 1;
}

app-project-duration {
  grid-row: 1;
  grid-column: 2 / 5;
}

app-project-illustrations {
  grid-row: 4 / 6;
  grid-column: 1 / 5;
}

app-project-problematic {
  grid-row: 7 / 10;
  grid-column: 1 / 5;
}

app-project-context {
  grid-row: 10;
  grid-column: 1 / 5;
}

app-skills-recap {
  grid-row: 15 / 18;
  grid-column: 1 / 5;
}

app-project-coworkers {
  grid-row: 18 / 21;
  grid-column: 1 / 5;
}

app-project-participation {
  grid-row: 11 / 15;
  grid-column: 1 / 5;
}
