h1 {
  text-align: center;
}

:host {
  min-height: 80vh;
}

.description {
  text-align: center;
}

.context {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-top: 3rem;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  margin-top: 3rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
