<h2>{{ 'projectDetails.skills.title' | transloco }}</h2>

<div class="skills">
  @for (skills of workedWith | keyvalue; track skills.key) {
    <span class="category">{{ skills.key }}</span>
    @for (skill of skills.value; track skill.id) {
      <app-highlightable-chip
        appTooltip
        [tooltip]="
          'projectDetails.skills.tooltip'
            | transloco: { count: skill.projects.length }
        "
        [routerLink]="[ARCHIVES_ROUTE]"
        [queryParams]="{ skills: skill.id }"
        [highlighted]="skill.main">
        {{ skill.label }}
      </app-highlightable-chip>
    }
  }
</div>
