@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

$transition-duration: .2s;

:host {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding: 10px;

    @media (min-width: $mobile-l) {
        font-size: 1.5rem;   
        padding: 20px; 
    }

    @media (min-width: $tablets) {
        flex-direction: row;
        padding: 30px;
        gap: 30px;
        justify-content: flex-end;
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        padding: 5px;
        background-color: white;
        position: relative;

        @media (min-width: $mobile-m) {
            padding: 10px;
        }

        &.is-active {

            &:after {
                animation: border_anim $transition-duration linear forwards;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                border-bottom: solid 2px $green;

                @media (min-width: $tablets) {
                    border-bottom-width: 4px;
                }
            }
        }

        &:hover {
            color: $light-green;

            &:after {
                border-color: $light-green;
            }
        }

    }
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}