@import '../../styles/responsive.scss';

$transition-duration: 0.2s;
$logo-size: 3rem;
$transition-duration: 0.3s;
$border-radius: 12px;
$top-padding: 40px;

:host {
  --horizontal-padding: 3rem;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: var(--gap);
  padding-top: $top-padding;
  z-index: 600;

  .collapsible-menu {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: height $transition-duration ease-out;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--styles-background-color);
    font-size: 1.5rem;
    padding-top: $top-padding;

    &.opened {
      height: 100vh;
      width: 100%;
      touch-action: none; //on peut toujours scroll avec la souris mais bon...
    }

    .home {
      grid-row: 3;
      grid-column: 1 / 5;
    }

    .skills {
      grid-row: 4;
      grid-column: 1 / 5;
    }

    .projects {
      grid-row: 5;
      grid-column: 1 / 5;
    }

    .experience {
      grid-row: 6;
      grid-column: 1 / 5;
    }

    app-github {
      grid-row: 2;
      grid-column: 2;
    }

    app-linkedin {
      grid-row: 2;
      grid-column: 1;
    }

    app-theme-selector {
      grid-row: 2;
      grid-column: 4;
    }

    app-language-selector {
      grid-row: 2;
      grid-column: 3;
    }
  }

  @include responsive('medium') {
    .collapsible-menu {
      display: none;
    }

    .open-menu {
      display: none;
    }

    .left-items,
    .right-items {
      .navbar-link {
        display: block;
      }
    }
  }
}

nav {
  grid-row: 1;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .logo {
    height: $logo-size;
    width: $logo-size;
    font-size: $logo-size;
  }

  h1 {
    font-size: var(--text-xxxxl);
    margin: 0;
    padding-left: 10px;
    padding-top: 0.2em;
  }
}

a {
  text-decoration: none;
}
