@import '../../styles/breakpoints.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    gap: 30px;
    font-size: 1.5rem;

    @media (min-width: $tablets) {
        flex-direction: row;
    }
}