@use '../../styles/_functions' as functions;
@use '../../styles/responsive.scss' as responsive;

$transition-duration: 0.2s;
$logo-size: 3rem;
$transition-duration: 0.3s;
$border-radius: 12px;
$top-padding: 40px;

:host {
  position: sticky;
  top: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--gap);
  padding-top: $top-padding;
  z-index: 600;
  transition: padding-top 0.3s;

  &.is-sticking {
    padding-top: 0;
    justify-content: center;

    .main-navbar > .g-grid {
      //taking cell-size formula and using full width
      grid-template-columns: repeat(
        var(--columns),
        functions.getCellSize(100vw, var(--columns), var(--gap))
      );

      .g-grid-item {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .collapsible-menu {
      padding-top: 0;
    }
  }

  .collapsible-menu {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: height $transition-duration ease-out;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--styles-background-color);
    font-size: 1.5rem;
    padding-top: $top-padding;

    &.opened {
      height: 100vh;
      width: 100%;
      touch-action: none; //on peut toujours scroll avec la souris mais bon...
    }
  }

  .open-menu {
    color: var(--navbar-open-menu-color);
    cursor: pointer;
  }

  @include responsive.responsive('medium') {
    .collapsible-menu {
      display: none;
    }

    .open-menu {
      display: none;
    }

    .left-items,
    .right-items {
      .navbar-link {
        display: block;
      }
    }
  }
}

.main-navbar > .g-grid {
  transition: grid-template-columns 0.5s ease;

  > :not(nav) {
    display: none;
  }
}

app-language-selector,
app-theme-selector {
  color: var(--navbar-language-selector-color);
  font-weight: bold;
}

nav {
  grid-row: 1;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--navbar-background-color);

  @include responsive.responsive('medium') {
    grid-column: 1 / -1;
  }
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .logo {
    height: $logo-size;
    width: $logo-size;
    font-size: $logo-size;
  }

  h1 {
    color: var(--navbar-logo-name);
    font-size: var(--text-xxxxl);
    margin: 0;
    padding-left: 10px;
    padding-top: 0.2em;
  }
}

a {
  text-decoration: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .img-container {
    height: 60%;
    width: 25%;
    text-align: center;

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  &.is-active h2 {
    color: var(--navbar-active-link-color);
  }

  &:not(.is-active) {
    h2 {
      color: var(--navbar-inactive-link-color);
    }

    img {
      opacity: 0.7;
    }
  }

  @include responsive.responsive('medium') {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;

    .img-container {
      display: none;
    }
  }
}

.home {
  grid-row: 3;
  grid-column: 1 / 5;

  @include responsive.responsive('medium') {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

.skills {
  grid-row: 5;
  grid-column: 1 / 5;

  @include responsive.responsive('medium') {
    grid-column: 7 / 9;
    grid-row: 2;
  }
}

.projects {
  grid-row: 4;
  grid-column: 1 / 5;

  @include responsive.responsive('medium') {
    grid-column: 5 / 7;
    grid-row: 2;
  }
}

.experience {
  grid-row: 6;
  grid-column: 1 / 5;

  @include responsive.responsive('medium') {
    grid-column: 3 / 5;
    grid-row: 2;
  }
}

app-github,
app-linkedin {
  width: 24px;
  height: 24px;
}

.github,
.linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github {
  grid-row: 2;
  grid-column: 2;
}

.linkedin {
  grid-row: 2;
  grid-column: 1;
}

.theme-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 4;

  @include responsive.responsive('medium') {
    grid-column: 8;
    grid-row: 1;
  }
}

.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: 3;

  @include responsive.responsive('medium') {
    grid-column: 7;
    grid-row: 1;
  }
}

#links-large-screen {
  display: none;
  font-size: var(--text-xs);

  .separator {
    height: 30px;
    width: 1px;
    background-color: var(--gray-300);
    border-radius: 50%;
  }

  a:hover:not(.is-active) {
    opacity: 0.7;
  }

  @include responsive.responsive('medium') {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: var(--title-font-family);
  }
}
