<ng-template #logo>
  <img
    [routerLink]="['']"
    class="logo"
    [src]="
      themeService.theme.value === 'dark-mode' ? 'logo-dark.svg' : 'logo.svg'
    "
    alt="logo" />
</ng-template>

<ng-template #leftLinks>
  <div class="navbar-link">
    <a
      [routerLink]="['']"
      [routerLinkActive]="['is-active', 'g-bold-not-title']"
      [routerLinkActiveOptions]="{ exact: true }"
      >À propos</a
    >
  </div>

  <div class="navbar-link">
    <a
      [routerLink]="['projects']"
      [routerLinkActive]="['is-active', 'g-bold-not-title']"
      >Projets</a
    >
  </div>

  <div class="navbar-link">
    <a
      [routerLink]="['skills']"
      [routerLinkActive]="['is-active', 'g-bold-not-title']"
      >Compétences</a
    >
  </div>
</ng-template>

<ng-template #rightLinks> </ng-template>

<div class="left-items">
  <ng-template *ngTemplateOutlet="leftLinks"></ng-template>
  Melo
</div>

<div class="right-items">
  <ng-template *ngTemplateOutlet="rightLinks"></ng-template>
</div>

<div class="collapsible-menu" [class.opened]="this.menuOpened">
  <ng-template *ngTemplateOutlet="leftLinks"></ng-template>
  <ng-template *ngTemplateOutlet="rightLinks"></ng-template>
</div>

<div class="g-grid-container">
  <div class="g-grid">
    <nav appGridItem>
      <ng-template *ngTemplateOutlet="logo"></ng-template>

      <mat-icon
        class="open-menu large"
        (click)="toggleMenu()"
        (keypress)="toggleMenu()"
        tabindex="0">
        menu
      </mat-icon>
    </nav>
  </div>
</div>
