<div class="collapsible-menu" [class.opened]="this.menuOpened">
  <div class="g-grid-container">
    <div class="g-grid">
      <app-linkedin></app-linkedin>

      <app-github [link]="contentService.github"></app-github>

      <app-theme-selector></app-theme-selector>

      <app-language-selector></app-language-selector>

      <a
        [routerLink]="['']"
        [routerLinkActive]="['is-active', 'g-grid-item-shadow']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="home"
        appGridItem
        ><h2>À propos</h2>
        <div class="img-container">
          <img
            [src]="
              themeService.isDarkMode
                ? 'photos/avatar-neutral-dark.png'
                : 'photos/avatar-neutral.png'
            "
            alt="Avatar" />
        </div>
      </a>

      <a
        [routerLink]="['projects']"
        [routerLinkActive]="['is-active', 'g-grid-item-shadow']"
        class="projects"
        appGridItem
        ><h2>Réalisations</h2>
        <div class="img-container">
          <img
            src="https://tgolpzoiiupkeshlgcpq.supabase.co/storage/v1/object/public/portfolio-project/illustrations/projects.svg"
            alt="Projects illustration" />
        </div>
      </a>

      <a
        [routerLink]="['skills']"
        [routerLinkActive]="['is-active', 'g-grid-item-shadow']"
        class="skills"
        appGridItem
        ><h2>Compétences</h2>
        <div class="img-container">
          <img
            src="https://tgolpzoiiupkeshlgcpq.supabase.co/storage/v1/object/public/portfolio-project/illustrations/skills.svg"
            alt="Skills illustration" />
        </div>
      </a>

      <a
        class="experience"
        appGridItem
        [routerLink]="['experience']"
        [routerLinkActive]="['is-active', 'g-grid-item-shadow']"
        ><h2>Expérience</h2>
        <div class="img-container">
          <img
            src="https://tgolpzoiiupkeshlgcpq.supabase.co/storage/v1/object/public/portfolio-project/illustrations/experience.svg"
            alt="Experience illustration" />
        </div>
      </a>
    </div>
  </div>
</div>

<div class="g-grid-container main-navbar">
  <div class="g-grid">
    <nav appGridItem class="g-grid-item-shadow">
      <div class="logo-name" [routerLink]="['']">
        <h1>Melo</h1>
      </div>

      <mat-icon
        class="open-menu large"
        (click)="toggleMenu()"
        (keypress)="toggleMenu()"
        tabindex="0">
        @if (menuOpened) {
          close
        } @else {
          menu
        }
      </mat-icon>
    </nav>
  </div>
</div>
