@import '../../styles/responsive.scss';

$transition-duration: 0.2s;
$logo-size: 3rem;
$transition-duration: 0.3s;
$border-radius: 12px;

:host {
  --horizontal-padding: 3rem;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: var(--gap);
  padding-top: 40px;
  z-index: 600;
  transition: background-color 0.3s ease-out;

  .logo {
    height: $logo-size;
    width: $logo-size;
    cursor: pointer;
  }

  mat-icon {
    color: var(--styles-title-color);
  }

  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    position: relative;
    white-space: nowrap;
    color: var(--styles-title-color);

    @include responsive('medium') {
      padding: 10px;
    }

    &.is-active {
      color: inherit;
    }

    &:hover {
      &:after {
        animation: border_anim $transition-duration linear forwards;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 1px;
        border-color: inherit;
      }
    }
  }

  .open-menu {
    cursor: pointer;
  }

  .left-items,
  .right-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    .navbar-link {
      display: none;
    }
  }

  .right-items {
    .links {
      display: none;
    }
  }

  .collapsible-menu {
    position: absolute;
    top: calc($logo-size + 2 * var(--vertical-padding));
    left: 0;
    overflow: hidden;
    height: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: height $transition-duration ease-out;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--styles-background-color);
    font-size: 1.5rem;

    > * {
      margin-top: 3rem;
    }

    &.opened {
      height: 100vh;
      width: 100%;
    }
  }

  @include responsive('medium') {
    .collapsible-menu {
      display: none;
    }

    .open-menu {
      display: none;
    }

    .left-items,
    .right-items {
      .navbar-link {
        display: block;
      }
    }
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

nav {
  grid-row: 1;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
