@import '../../../styles/responsive.scss';

:host {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: var(--text-xxl);
}

p {
  font-size: var(--text-sm);
}

.cogwheel-model {
  display: none;
}

.cogwheel__1 {
  color: var(--gray-100);

  position: absolute;
  left: -20px;
  bottom: -30px;
  width: 75px;
  height: 75px;
}

.cogwheel__2 {
  color: var(--gray-100);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
}
