@import '../../../styles/responsive.scss';

:host {
  position: relative;
  background-color: var(--ongoing-background);
}

app-robotic-arm {
  position: absolute;
  bottom: -4px; //la bordure
  right: 25px;

  @include responsive('medium') {
    right: 20px;
  }

  @include responsive('large') {
    right: 40px;
  }
}
