@import '../../../styles/responsive.scss';

.map-frame {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

app-action-button {
  z-index: 500;

  &:hover ~ .rayon {
    width: 90px;
    height: 90px;

    @include responsive('medium') {
      width: 140px;
      height: 140px;
    }
  }
}

.img-marker {
  width: 40px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 500;

  @include responsive('medium') {
    width: 70px;
  }
}

.rayon {
  border-radius: 50%;
  opacity: 0.5;
  background-color: lightblue;
  border: 2px solid green;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 500;
  transition: 200ms;
  width: 80px;
  height: 80px;

  @include responsive('medium') {
    width: 120px;
    height: 120px;
  }
}
