app-resume {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
}

app-key-header {
  grid-column: 1 / 5;
}

app-experience-duration {
  grid-column: 3 / 5;
}

app-experience-projects {
  grid-column: 3 / 5;
}

app-experience-description {
  grid-column: 1 / 3;
  grid-row: span 2;
}
