@import '../../styles/responsive.scss';

app-linkedin {
  display: none;

  @include responsive('medium') {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 6 / 8;
  }
}

app-resume {
  grid-row: 1 / 3;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-column: 2 / 6;
  }
}

app-key-header {
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 3);
    grid-column: 3 / 7;
  }
}

app-experience-duration {
  grid-column: 3 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 4);
    grid-column: 5 / 8;
  }
}

app-experience-projects {
  grid-column: 3 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 5);
    grid-column: 5 / 8;
  }
}

app-experience-description {
  grid-column: 1 / 3;
  grid-row: span 2;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 4) / span 2;
    grid-column: 2 / 5;
  }
}
