@import '../../styles/responsive.scss';

app-availability {
  grid-column: 1 / 5;
  grid-row: 1;

  @include responsive('medium') {
    position: sticky;
    top: calc(var(--cell-size) + var(--gap));
    grid-column: 1 / 5;
    grid-row: 1;
  }
}

app-resume {
  grid-row: 2 / 4;
  grid-column: 1 / 5;

  @include responsive('medium') {
    position: sticky;
    top: calc(2 * (var(--cell-size) + var(--gap)));
    grid-column: 1 / 5;
    grid-row: 2 / 4;
  }
}

app-key-header {
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 1);
    grid-column: 5 / 9;
  }
}

app-experience-duration {
  grid-column: 3 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 2);
    grid-column: 7 / 9;
  }
}

app-experience-projects {
  grid-column: 3 / 5;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 3);
    grid-column: 7 / 9;
  }
}

app-experience-description {
  grid-column: 1 / 3;
  grid-row: span 2;

  @include responsive('medium') {
    grid-row: calc(var(--index) * 3 + 2) / span 2;
    grid-column: 5 / 7;
  }
}
