@use './spin.animation.scss' as spin;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    svg {
      @extend %spin-effect;
    }
  }
}
