.carousel {
  height: 100%;

  .carousel-items {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .carousel-item {
      position: relative;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      transition: all 0.5s linear;
      cursor: pointer;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .no-image {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100px;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
        object-fit: cover;
      }

      p {
        color: var(--grid-item-bottom-text-color);
      }
    }
  }
}

%counterStyle {
  background-color: var(--action-button-background);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid var(--grid-item-border);
}

.counter {
  @extend %counterStyle;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

$offset-controls-modal: 3rem;

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .caption {
    margin-top: 2rem;
    color: white;
    text-align: center;
    min-height: 2.5rem;
    padding: 0 3rem;
  }

  .modal-img-container {
    max-height: 60%;
    max-width: 90%;
    overflow: hidden;

    .modal-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  mat-icon {
    margin-bottom: 2rem;
    color: white;
    cursor: pointer;
  }
}

.controls-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
  grid-auto-rows: auto;
  place-items: center;

  .counter-modal {
    @extend %counterStyle;
    grid-column: 2;
  }

  .app-action-button-left {
    grid-column: 1;
  }

  .app-action-button-right {
    grid-column: 3;
  }
}
