<div class="carousel">
  <div class="carousel-items">
    @for (illustration of project.illustrations; track illustration.id) {
      <div
        class="carousel-item"
        (click)="openModal(illustration)"
        (keypress)="openModal(illustration)"
        tabindex="0">
        <img [src]="illustration.url" [alt]="illustration.alt" />
      </div>
    }
  </div>
</div>

@if (currentSlide !== 0) {
  <app-action-button
    icon="chevron_left"
    (click)="nextSlide(-1)"></app-action-button>
}

@if (currentSlide < project.illustrations.length - 1) {
  <app-action-button
    icon="chevron_right"
    position="bottom-right"
    (click)="nextSlide(1)"></app-action-button>
}

<app-action-button
  icon="crop_free"
  position="top-right"
  (click)="openModal()"></app-action-button>

<div class="counter">
  {{ currentSlide + 1 }} / {{ project.illustrations.length }}
</div>

<div id="modal" #modal>
  <mat-icon (click)="closeModal()">close</mat-icon>
  <div class="modal-img-container">
    <img #modalImg class="modal-img" alt="" />
  </div>
  <div class="caption" #caption></div>

  <div class="controls-modal">
    @if (currentSlideModal !== 0) {
      <app-action-button
        class="app-action-button-left"
        [positionAbsolute]="false"
        icon="chevron_left"
        (click)="nextSlideModal(-1)"></app-action-button>
    }

    <div class="counter-modal">
      {{ currentSlideModal + 1 }} / {{ project.illustrations.length }}
    </div>

    @if (currentSlideModal < project.illustrations.length - 1) {
      <app-action-button
        class="app-action-button-right"
        [positionAbsolute]="false"
        icon="chevron_right"
        position="bottom-right"
        (click)="nextSlideModal(1)"></app-action-button>
    }
  </div>
</div>
