.carousel {
  height: 100%;

  .carousel-items {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .carousel-item {
      position: relative;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      transition: all 0.5s linear;
      cursor: pointer;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .no-image {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100px;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
        object-fit: cover;
      }

      p {
        color: var(--grid-item-bottom-text-color);
      }
    }
  }
}

%counterStyle {
  background-color: var(--action-button-background);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid var(--grid-item-border);
}

.counter {
  @extend %counterStyle;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
