@import '../../../../styles/responsive.scss';

:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
}

.skill {
  line-height: normal;
  background-color: var(--project-item-skill-list-skill-background);
  border: 1px solid var(--project-item-skill-list-skill-border);
  color: var(--project-item-skill-list-color);
  padding: 0px 8px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 0.7rem;

  &:hover {
    opacity: 0.8;
  }

  @include responsive('medium') {
    padding: 2px 4px;
    font-size: 0.7rem;
  }
}
