<h2>{{ project.label }}</h2>

@if (project.illustrations.length > 0) {
  <div class="illustration-container">
    <img [src]="firstIllustration.url" [alt]="firstIllustration.alt" />
  </div>
}

<div class="g-paragraph g-grid-item-main-text">
  <div class="skill-list">
    @for (project_skill of skills; track project_skill.skill_id) {
      <div
        [routerLink]="[ARCHIVES_ROUTE]"
        [queryParams]="{ skills: project_skill.skill_id }"
        class="skill">
        {{ project_skill.skill.label }}
      </div>
    }
  </div>
</div>

<app-action-button
  [unfold]="hovered"
  [text]="'En savoir plus'"
  [routerLink]="['/projects', project.url]"
  [icon]="'visibility'">
</app-action-button>
