<div class="icon">
  @if (project.thumbnail) {
    <img [src]="project.thumbnail" alt="" />
  } @else {
    <mat-icon>apps</mat-icon>
  }
</div>

<div class="label">
  <div>
    <span class="project-label" [routerLink]="['/projects', project.url]">{{
      project.label
    }}</span>
    <span class="type">{{ project.project_type.label }}</span>
  </div>
  <div>
    {{ project.end_date ? (project.end_date | date: 'yyyy') : 'En cours' }}
  </div>
</div>

<div class="description">
  {{ project.description }}
</div>

<div class="technologies">
  @for (skill of project.skill; track skill.id) {
    <app-suggestion-chip [label]="skill.label"></app-suggestion-chip>
  }
</div>

<div class="bottom">
  <div class="context">
    <div class="logo">
      @if (project.context.icon) {
        <img [src]="project.context.icon" alt="" />
      } @else {
        <mat-icon class="work-icon" fontSet="material-icons-outlined"
          >public</mat-icon
        >
      }
    </div>
    <span class="label">
      {{ project.context.label }}
    </span>
  </div>

  <div class="time-spent">
    <span class="duration"> {{ project | duration }}</span>
    <mat-icon class="timer-icon" fontSet="material-icons-outlined"
      >schedule</mat-icon
    >
  </div>
</div>

<div class="see-more" [routerLink]="['/projects', project.url]">
  Voir plus de détails
</div>
