@use '../../../styles/responsive.scss' as responsive;

:host {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    .illustration-container {
      box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 10px 5px;
      rotate: -5deg;
      transform: translate(-2%, -50%);

      img {
        filter: none;
      }
    }
  }

  @include responsive.responsive('medium') {
    padding: 2.5rem;
  }
}

@keyframes slideToLeft {
  0% {
    transform: translate(20%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.illustration-container {
  position: absolute;
  height: 70%;
  left: 65%;
  top: 50%;
  transform: translate(0%, -50%);
  animation: slideToLeft 1s;
  transition: 400ms linear;
  border-radius: 10px;
  overflow: hidden;

  img {
    transition: 500ms;
    height: 100%;
    // filter: grayscale(100);
  }
}

h2 {
  font-size: var(--text-xxl);
  margin-bottom: 0.5rem;

  @include responsive.responsive('medium') {
    margin-bottom: 1rem;
  }
}

p {
  margin: 0;
  font-size: var(--text-xxs);
  max-width: 60%;
  flex-grow: 1;

  @include responsive.responsive('medium') {
    font-size: var(--text-sm);
    margin-bottom: 1rem;
  }
}
