@import '../../../styles/breakpoints.scss';

:host {
  width: 100%;
  padding: 12px 14px;

  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 14px;

  cursor: pointer;

  &:hover {
    box-shadow: none;
    border-color: transparent;
  }

  .icon {
    grid-row: 1 / 5;
    grid-column: 1;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .label {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
  }
}

.project-label {
  color: #789461;
  font-weight: bold;
}

.type {
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 8px;
}

.description {
  font-size: 0.8rem;
  grid-row: 2;
  grid-column: 2;
  margin: 8px 0;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .context {
    display: flex;
    align-items: center;

    .logo {
      width: 15px;
      height: 15px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: white;
      }
    }

    .label {
      margin-left: 4px;
      font-size: 0.8rem;
    }
  }

  .time-spent {
    color: lightgray;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    .duration {
      margin-right: 4px;
    }

    mat-icon {
      width: 15px;
      height: 15px;
      font-size: 15px;
      font-weight: 200;
    }
  }
}
