@import '../../../styles/responsive.scss';
@import '../../shared/grid/grid-item.scss';

:host {
  @include grid-1x2;

  position: relative;

  &:hover {
    .illustration-container {
      box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 10px 5px;
      rotate: -5deg;
      transform: translate(-2%, -50%);
    }
  }
}

@keyframes slideToLeft {
  0% {
    transform: translate(20%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.illustration-container {
  position: absolute;
  height: 80%;
  left: 55%;
  top: 50%;
  animation: slideToLeft 1s;
  transform: translate(0%, -50%);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 10px 0px;
  transition: 400ms linear;
  border-radius: 20px;
  overflow: hidden;

  img {
    transition: 500ms;
    height: 100%;
  }
}

h2 {
  color: white;
}

.g-grid-item-main-text {
  max-width: 55%;
}
