@import '../../../styles/responsive.scss';

:host {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &:hover {
    .illustration-container {
      box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 10px 5px;
      rotate: -5deg;
      transform: translate(-2%, -50%);
    }
  }
}

@keyframes slideToLeft {
  0% {
    transform: translate(20%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.illustration-container {
  position: absolute;
  height: 70%;
  left: 65%;
  top: 50%;
  transform: translate(0%, -50%);
  animation: slideToLeft 1s;
  transition: 400ms linear;
  border-radius: 10px;
  overflow: hidden;

  img {
    transition: 500ms;
    height: 100%;
  }
}

h2 {
  font-size: var(--text-xxl);
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0;
  font-size: var(--text-xxs);
  max-width: 60%;
  flex-grow: 1;
}
