@import '../../styles/responsive.scss';

.pinned {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  min-height: 350px;

  @include responsive('medium') {
    grid-template-columns: 1fr 1fr;
  }
}

app-github {
  grid-row: 2;
  grid-column: 2;

  @include responsive('medium') {
    grid-row: 4;
    grid-column: 2;
  }

  @include responsive('large') {
    grid-row: 3;
    grid-column: 3;
  }
}

.project__1 {
  grid-row: 1;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  @include responsive('large') {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}

.project__2 {
  grid-row: 3;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 1;
    grid-column: 3 / 5;
  }

  @include responsive('large') {
    grid-row: 1;
    grid-column: 4 / 6;
  }
}

.project__3 {
  grid-row: 5;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  @include responsive('large') {
    grid-row: 2;
    grid-column: 2 / 4;
  }
}

.project__4 {
  display: none;

  @include responsive('medium') {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 3;
  }

  @include responsive('large') {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 3;
  }
}

app-shuffle {
  grid-row: 4;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 4;
  }

  @include responsive('large') {
    grid-row: 1;
    grid-column: 3;
  }
}

app-ongoing {
  grid-row: 2;
  grid-column: 1;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 1;
  }

  @include responsive('large') {
    grid-row: 2;
    grid-column: 1;
  }
}

app-all {
  grid-row: 2;
  grid-column: 1;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 1;
  }

  @include responsive('large') {
    grid-row: 2 / 4;
    grid-column: 4 / 6;
  }
}
