@import '../../styles/breakpoints.scss';

$gap-size: 10px;

.realisations {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

h1 {
  text-align: center;
}

.contexts {
  width: 90vw;
  margin: 1rem auto;
  min-height: 140px; //Todo : pas ouf, il faudrait faire un placeholder avant le chargements des contextes

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  .filters {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 12px;
  }
}

:host {
  min-height: 80vh;
}
