<h1>Réalisations</h1>

<div [@projectList]="projects.length" class="realisations">
  @for (project of projects; track project.id) {
    <app-project-item
      [project]="project"
      [routerLink]="['/projects', project.url]"></app-project-item>
  }
</div>

<!-- <h2 class="contexte-title">CONTEXTE. <span class="blink">_</span></h2>

<div class="contexte">
  @for (context of contexts; track context.id) {
    <div>{{ context.company }}</div>
  }
</div>

<h2 class="competences-title">COMPÉTENCES. <span class="blink">_</span></h2>

<div class="competences">
  @for (skill of skills; track skill.id) {
    <div>{{ skill.label }}</div>
  }
</div> -->
