@import '../../styles/breakpoints.scss';

$gap-size: 10px;

.realisations {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.contexts {
  width: 90vw;
  margin: 1rem auto;
  overflow-x: auto;

  .filters {
    display: flex;
    flex-direction: row;
  }
}

:host {
  min-height: 80vh;
}
