@import '../../styles/responsive.scss';

.github {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  app-github {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }

  @include responsive('medium') {
    grid-row: 5 / 8;
    grid-column: 1 / 3;

    app-github {
      width: var(--icon-size-md);
      height: var(--icon-size-md);
    }
  }
}

.project__1 {
  grid-row: 2 / 4;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 1 / 4;
    grid-column: 5 / 9;
  }
}

.project__2 {
  grid-row: 5 / 7;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 2 / 5;
    grid-column: 1 / 5;
  }
}

.project__3 {
  grid-row: 8 / 10;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 5 / 8;
    grid-column: 5 / 9;
  }
}

app-all {
  grid-row: 1;
  grid-column: 2 / 5;

  @include responsive('medium') {
    grid-row: 1;
    grid-column: 1 / 5;
  }
}

app-your-project {
  grid-row: 7;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 4;
    grid-column: 5 / 9;
  }
}

app-ongoing {
  grid-row: 4;
  grid-column: 3 / 5;

  @include responsive('medium') {
    grid-row: 6 / 8;
    grid-column: 3 / 5;
  }
}

app-with-skill {
  grid-row: 4;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 5;
    grid-column: 3 / 5;
  }
}
