@import '../../styles/responsive.scss';

app-github {
  grid-row: 1;
  grid-column: 1;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 4;
  }
}

.project__1 {
  grid-row: 2 / 4;
  grid-column: 1 / 5;
}

.project__2 {
  grid-row: 5 / 7;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 2 / 4;
  }
}

.project__3 {
  grid-row: 8 / 10;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-row: 3;
    grid-column: 3 / 5;
  }
}

app-ongoing {
  grid-row: 4;
  grid-column: 1 / 3;

  @include responsive('medium') {
    grid-row: 2;
    grid-column: 1;
  }
}

app-all {
  grid-row: 1;
  grid-column: 2 / 5;

  @include responsive('medium') {
    grid-row: 1;
    grid-column: 3 / 5;
  }
}

app-your-project {
  grid-row: 7;
  grid-column: 1 / 5;
}

app-with-skill {
  grid-row: 4;
  grid-column: 3 / 5;
}
