@import '../../../styles/responsive.scss';

:host {
  padding: 1.3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h2 {
  white-space: nowrap;

  @include responsive('medium') {
    font-size: var(--text-lg);
  }
}
