@switch (timing()) {
  @case ('future') {
    <h2>{{ 'experience.duration.future.title' | transloco }}</h2>
    <p>
      {{
        'experience.duration.future.subtitle'
          | transloco: { month: (context().start_date | date: 'MMMM') }
      }}
    </p>
  }
  @case ('now') {
    <h2>{{ context().start_date | duration: context().end_date }}</h2>
    <p>
      {{
        'experience.duration.now.subtitle'
          | transloco: { year: (context().start_date | date: 'yyyy') }
      }}
    </p>
  }
  @case ('past') {
    <h2>{{ context().start_date | duration: context().end_date }}</h2>
    <p>
      {{
        'experience.duration.past.subtitle'
          | transloco: { year: (context().end_date | date: 'yyyy') }
      }}
    </p>
  }
}
