<div class="titles">
  <h1>Contact</h1>
  <div>Pour un nouveau projet, de l'aide ou simplement dire bonjour 🙂</div>
</div>

<div class="contacts">
  <div><mat-icon>location_on</mat-icon>Caen, France</div>

  <div><mat-icon>call</mat-icon>06 12 15 78 26</div>

  <div><mat-icon>mail</mat-icon>alexis&#64;melo.fr</div>
</div>

<form class="form" (submit)="send()">
  <div class="input-container name">
    <label for="name">Nom</label>
    <input appInput class="input" id="name" type="text" />
  </div>

  <div class="input-container mail">
    <app-input label="Mail" icon="mail">
      <input class="input" id="mail" type="text" />
    </app-input>
  </div>

  <div class="input-container phone">
    <label for="phone">Téléphone</label>
    <input appInput class="input" value="cul" id="phone" type="text" />
  </div>

  <div class="input-container message">
    <label for="message">Message</label>
    <textarea appInput class="input" id="message" type="text"></textarea>
  </div>

  <div class="send">
    <button type="submit">Envoyer</button>
  </div>
</form>
