@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

:host {
  padding: 0 5vw;

  @media (min-width: $mobile-m) {
    padding: 0 20vw;
  }

  @media (min-width: $portable-computer) {
    padding: 0 30vw;
  }
}

.titles {
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (min-width: $tablets) {
    flex-direction: row;
    gap: unset;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    width: 100%;

    @media (min-width: $tablets) {
      width: 30%;
    }

    &:hover {
      background-color: $very-light-green;
    }

    mat-icon {
      margin-bottom: 15px;
    }
  }
}

.form {
  display: grid;
  gap: 20px;
  background-color: $very-light-green;
  border-radius: 15px;
  padding: 15px;

  .name {
    grid-column: 1;
    grid-row: 1;
  }

  .mail {
    grid-column: 1;
    grid-row: 2;
  }

  .phone {
    grid-column: 1;
    grid-row: 3;
  }

  .message {
    grid-column: 1;
    grid-row: 4;

    @media (min-width: $large-portable-computer) {
      grid-column: 2;
      grid-row: 1 / 4;
    }
  }

  .send {
    text-align: center;
    grid-row: 5;

    @media (min-width: $large-portable-computer) {
      grid-column: 1 / 3;
      grid-row: 4;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  label {
    margin-bottom: 5px;
  }

  input,
  textarea {
    flex-grow: 1;
  }
}
