@import '../../../styles/breakpoints.scss';

:host {
  display: block;
  margin: 5rem 0;
}

.separation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h2 {
    margin-block-start: 0.5rem;
    font-size: 2rem;

    @media (min-width: $tablets) {
      font-size: 3rem;
    }
  }

  .details {
    width: 80%;

    @media (min-width: $tablets) {
      width: 60%;
    }
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}
