@import '../../../styles/responsive.scss';
@import '../linkedin/spin.animation.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: var(--grid-icon-centered-size);
  }

  &:hover {
    img {
      @extend %spin-effect;
    }
  }
}
