@import '../../../styles/responsive.scss';
@import '../linkedin/spin.animation.scss';

:host {
  img {
    width: var(--grid-icon-centered-size);
  }

  &:hover {
    img {
      @extend %spin-effect;
    }
  }
}
