@import '../../../styles/responsive.scss';
@import '../linkedin/spin.animation.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    img {
      @extend %spin-effect;
    }
  }
}
