:host {
  overflow: visible;
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

.search-bar {
  position: relative;
  width: 100%;

  input {
    border: none;
    border-bottom: 1px solid var(--gray-200);
    padding: 4px 0;
    padding-left: 20px;
    font-size: 1.1rem;
    width: 100%;
    background-color: transparent;
    color: var(--styles-text-color);
    line-height: 1;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--gray-300);
    }
  }

  mat-icon {
    position: absolute;
    color: var(--gray-300);
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &.active {
      color: var(--gray-400);
    }
  }
}
