//green
$green-900: #1b2c1a;
$green-700: #294b29;
$green-500: #50623a;
$green-400: #789461;
$green-200: #becfa3;
$green-100: #e9eee2;

//gray
$gray-200: #cac4d0;
$gray-100: #e4e1e7;

//white
$white: white;
