@mixin dark-mode() {
  --titleColor: var(--gray-100);
  --text-color: var(--white);
  --backgroundColor: var(--gray-600);

  //g-paragraph
  --paragraph-highlight-bg-color: var(--green-600);
  --paragraph-highlight-color: var(--white);

  //navbar
  --navbarLinksColor: var(--white);
  --navbar-background-color: var(--black);
  --navbar-border-bottom-color: var(--green-500);

  --timelineCircleColor: var(--green-200);
  --timelineProject: var(--green-300);
  --timelineLeftCircle: var(--green-100);
  --timelineLeftText: var(--green-100);
  --timelineColor: var(--green-100);

  //footer
  --footer-background-color: var(--green-600);
  --footer-border-color: var(--green-500);

  //contact
  --contactBackgroundColor: var(--green-500);
  --birdsURL: url('../assets/birds-dark-mode.svg');
  --buttonTextColor: var(--white);
  --buttonBackgroundColor: var(--green-300);

  --inputBackgroundColor: var(--green-600);
  --inputBorderColor: var(--green-400);

  --projectBackgroundColor: var(--green-400);

  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--green-500);
  --filter-chip-active-background-color: var(--green-400);
  --filter-chip-details-menu-background-color: var(--green-400);
  --filter-chip-hover-option-background-color: var(--green-500);

  --project-see-more-background-color: var(--green-400);

  --separator-color: var(--green-400);

  //project-item
  --img-background: var(--white);
  --project-item-bg: var(--green-700);
  --project-item-border-color: var(--green-400);

  //project-details
  --thumbnail-border: var(--green-500);
  --skill-group-border: var(--green-500);

  //suggestion-chip
  --suggestion-chip-bg: var(--green-700);

  //highlightable-chip
  --highlightable-chip-background-color: var(--green-200);
  --highlightable-chip-border-color: var(--green-200);
  --highlightable-chip-gradient-1: var(--green-500);
  --highlightable-chip-gradient-2: var(--green-300);
  --highlightable-chip-gradient-3: var(--green-300);
  --highlightable-chip-gradient-4: var(--green-500);

  //landing-page
  --svg-contour-path: var(--green-400);
  --background-svgs: var(--green-500);

  //button
  --button-background: url(../../public/gradient-dark.svg);
  --button-border: white;
  --button-color: white;
  --button-plain-border: var(--green-500);

  //moving-content
  --moving-content-fade: var(--green-600);
  --moving-content-fade-alt: var(--green-700);

  //map
  --rayon-background: #ffffff;
  --rayon-border: var(--blue);

  //tooltip
  --tooltip-background: var(--green-400);

  //navbar
  --navbar-gradient: url(../../public/gradient-dark.svg);

  //row-with-separator
  --separator-main-color: var(--green-700);
  --separator-second-color: var(--green-400);
  --separator-third-color: var(--green-300);

  //grids
  --grid-cell-default-bg: var(--green-700);

  //skill-detailed-card
  --skill-card-bg: var(--green-700);

  //action-button
  --action-button-background: var(--gray-550);
  --action-button-color: var(--white);
  --action-button-border-color: var(--gray-500);

  //grid-item
  --grid-item-default-bg: var(--gray-550);
  --grid-item-border: 2px solid var(--gray-500);
  --grid-item-bottom-text-color: var(--gray-400);

  //linkedin
  --linkedin-bg: var(--gray-525);

  //github
  --github-bg: var(--gray-525);
  --github-empty-color: var(--gray-300);

  //project-duration
  --termine-color: var(--green-300);

  //skill-section-header
  --skill-section-header-frontend-bg: var(--blue);
}
