@mixin dark-mode() {
  //action-button
  --action-button-background: var(--gray-700);
  --action-button-color: var(--gray-200);
  --action-button-border-color: var(--gray-500);

  //archives
  --archives-header-bg: var(--gray-500);

  //availability
  --availability-dot-color: white;

  //description
  --description-icon-color: var(--primary-500);
  --description-rectangle-1-background-color: var(--gray-500);
  --description-rectangle-2-background-color: var(--gray-400);
  --description-rectangle-3-background-color: var(--gray-200);
  --description-illustration-icon-color: var(--primary-500);

  //filter-chip
  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--gray-600);
  --filter-chip-active-background-color: var(--gray-500);
  --filter-chip-details-menu-background-color: var(--gray-500);
  --filter-chip-hover-option-background-color: var(--gray-500);

  //github
  --github-icon-color: var(--gray-200);

  //grid-item
  --grid-item-default-bg: var(--gray-700);
  --grid-item-border: 2px solid var(--gray-600);
  --grid-item-bottom-text-color: var(--gray-300);
  --grid-item-shadow-color: rgba(219, 219, 219, 0.05);

  //home
  --home-github-background-color: var(--primary-800);
  --home-github-icon-color: white;

  //image
  --image-svg-color: var(--primary-500);

  //key-header
  --key-header-background: var(--primary-800);
  --key-header-color: white;
  --key-header-svg-color: var(--primary-500);
  --key-header-chips-background: var(--primary-500);
  --key-header-chips-color: white;
  --key-header-chips-border: var(--primary-700);

  //linkedin
  --linkedin-letters-color: var(--grid-item-default-bg);
  --linkedin-contour-bg: var(--gray-200);

  //map
  --map-rayon-background: #ffffff;
  --map-rayon-border: var(--gray-400);

  //mail
  --mail-background-color: var(--primary-800);
  --mail-color: white;

  //mosaique-svg-color
  --mosaique-svg-color: var(--primary-800);

  //navbar
  --navbar-active-link-color: white;
  --navbar-inactive-link-color: var(--gray-400);
  --navbar-logo-name: white;
  --navbar-background-color: var(--primary-800);

  //now
  --now-icon-color: var(--primary-500);
  --now-link-color: var(--gray-500);

  //ongoing
  --ongoing-background: var(--primary-800);
  --ongoing-color: white;

  //open-live
  --open-live-background-color: var(--primary-800);
  --open-live-color: white;
  --open-live-dot-color: var(--primary-500);

  //project-context
  --project-context-background: var(--primary-800);
  --project-context-color: white;

  //projects
  --projects-github-bg: var(--primary-800);
  --projects-github-icon-color: white;

  //project-item
  --project-item-completed-background: var(--gray-500);
  --project-item-abandoned-background: var(--gray-500);
  --project-item-abandoned-color: var(--gray-300);
  --project-item-ongoing-background: var(--gray-500);

  //project-item-skill-list
  --project-item-skill-list-skill-background: var(--gray-600);
  --project-item-skill-list-skill-border: var(--gray-500);
  --project-item-skill-list-color: var(--gray-200);

  //project-name-header
  --project-name-header-completed-background: var(--gray-500);
  --project-name-header-abandoned-background: var(--gray-500);
  --project-name-header-abandoned-color: var(--gray-300);
  --project-name-header-ongoing-background: var(--gray-500);

  //projects
  --projects-1-bg: var(--gray-600);
  --projects-2-bg: var(--gray-600);
  --projects-3-bg: var(--gray-600);

  //projects-by-context
  --projects-by-context-icons-color: var(--white);

  //reset-button
  --reset-button-color: var(--gray-300);

  //resume
  --resume-background-color: var(--primary-800);
  --resume-color: white;

  //robotic-arm
  --robotic-arm-arms-fill: var(--gray-300);
  --robotic-arm-axes-fill: var(--gray-400);

  //skill-recap
  --skills-recap-general-bg: var(--gray-300);
  --skills-recap-counter-bg: var(--gray-500);
  --skills-recap-counter-color: var(--white);
  --skills-recap-separator: var(--gray-400);
  --skills-recap-background: var(--primary-800);

  //skill-highlight
  --skill-highlight-icon-color: var(--primary-500);

  //skill-section-description
  --skill-section-description-svg-color: var(--primary-800);

  //skill-section-header
  --skill-section-header-frontend-bg: var(--gray-500);
  --skill-section-header-backend-bg: var(--gray-500);
  --skill-section-header-general-bg: var(--gray-500);

  //status-filtering
  --status-filtering-completed: var(--gray-400);
  --status-filtering-ongoing: var(--gray-500);
  --status-filtering-abandoned: var(--gray-600);
  --status-filtering-selected: var(--gray-400);
  --status-filtering-not-selected: var(--gray-600);

  //styles
  --styles-title-color: var(--gray-100);
  --styles-text-color: var(--white);
  --styles-background-color: var(--gray-800);
  --styles-paragraph-highlight-bg-color: var(--gray-500);
  --styles-default-paragraph-color: var(--gray-300);

  //suggestion-chip
  --suggestion-chip-bg: var(--gray-500);

  //your-project
  --your-project-background: var(--primary-800);
  --your-project-color: white;
}
