@import './responsive.scss';

@mixin design-system() {
  //green
  --green-700: #1a2219;
  --green-600: #1b2c1a;
  --green-500: #294b29;
  --green-400: #50623a;
  --green-300: rgb(120, 148, 97);
  --green-250: rgb(93, 218, 21);
  --green-200: #becfa3;
  --green-100: rgb(233, 238, 226);
  --green-50: rgb(240, 243, 236);

  //gray
  --gray-200: #c5d0c4;
  --gray-100: #e1e7e1;
  --gray-50: #f2f7f3;

  //white
  --white: white;

  //black
  --black: black;

  //spacing
  --inputs-border-radius: 8px;
  --inputs-padding-vertical: 0.7rem;

  //widths
  --container-max-width: 1300px;
  --container-width: 95vw;
}
