@import './responsive.scss';

//https://mycolor.space/?hex=%23F2F7F3&sub=1

@mixin design-system() {
  --primary-800: #344e41;
  --primary-700: #3a5a40;
  --primary-500: #588157;
  --primary-200: #e5ebdd;

  //neutral grays
  --gray-800: #181818;
  --gray-700: #262626;
  --gray-600: #3b3b3b;
  --gray-500: #737373;
  --gray-400: #999999;
  --gray-300: #bfbfbf;
  --gray-200: #e5e5e5;
  --gray-100: #f3f3f3;

  //white
  --white: white;

  //spacing
  --inputs-border-radius: 8px;
  --inputs-padding-vertical: 0.7rem;

  //widths
  --container-max-width: 1300px;
  --container-width: 95vw;

  //icons
  --icon-size-sm: 24px;
  --icon-size-md: 50px;

  //font
  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-xxl: 24px;
  --text-xxxl: 32px;
  --text-xxxxl: 48px;
}
