@mixin design-system() {
  //green
  --green-700: #1a2219;
  --green-600: #1b2c1a;
  --green-500: #294b29;
  --green-400: #50623a;
  --green-300: rgb(120, 148, 97);
  --green-200: #becfa3;
  --green-100: rgb(233, 238, 226);

  //gray
  --gray-200: #cac4d0;
  --gray-100: #e4e1e7;

  //white
  --white: white;

  //spacing
  --inputs-border-radius: 8px;
  --inputs-padding-vertical: 0.7rem;

  //widths
  --container-max-width: 1300px;
  --container-width: 95vw;
}
