@import './colors.scss';

@mixin light-mode() {
  --titleColor: #{$dark-green};
  --textColor: #{$green};
  --backgroundColor: white;

  --navbarLinksColor: #{$light-green};

  --timelineCircleColor: #{$dark-green};
  --timelineProject: #{$light-green};
  --timelineLeftCircle: #{$light-green};
  --timelineLeftText: #{$light-green};
  --timelineColor: #{$very-light-green};

  --footerBackgroundColor: #{$very-light-green};

  --contactBackgroundColor: #{$very-light-green};
  --birdsURL: url('../assets/birds-light-mode.svg');
  --buttonTextColor: white;
  --buttonBackgroundColor: #{$green};
  --inputBackgroundColor: white;

  --projectBackgroundColor: #{$very-light-green};

  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: #cac4d0;
  --filter-chip-active-background-color: #{$very-light-green};
}
