@mixin light-mode() {
  --titleColor: var(--green-500);
  --textColor: var(--green-400);
  --backgroundColor: var(--white);

  --navbarLinksColor: var(--green-400);
  --navbarBackgroundColor: var(--green-200);

  --timelineCircleColor: var(--green-500);
  --timelineProject: var(--green-300);
  --timelineLeftCircle: var(--green-300);
  --timelineLeftText: var(--green-300);
  --timelineColor: var(--green-100);

  --footer-background-color: var(--green-200);

  --contactBackgroundColor: var(--green-200);
  --birdsURL: url('../assets/birds-light-mode.svg');
  --buttonTextColor: var(--white);
  --buttonBackgroundColor: var(--green-400);

  --inputBackgroundColor: var(--white);
  --inputBorderColor: var(--gray-200);

  --projectBackgroundColor: var(--green-100);

  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--gray-200);
  --filter-chip-active-background-color: var(--green-100);
  --filter-chip-details-menu-background-color: var(--green-100);
  --filter-chip-hover-option-background-color: var(--green-200);

  --project-see-more-background-color: var(--green-100);

  --separator-color: var(--gray-100);

  //project-item
  --img-background: var(--white);

  //project-details
  --thumbnail-border: var(--gray-200);
  --skill-group-border: var(--gray-200);

  //highlightable-chip
  --highlightable-chip-background-color: var(--green-100);
  --highlightable-chip-border-color: var(--green-200);
  --highlightable-chip-gradient-1: var(--green-400);
  --highlightable-chip-gradient-2: var(--green-300);
  --highlightable-chip-gradient-3: var(--green-200);
  --highlightable-chip-gradient-4: var(--green-400);

  //landing-page
  --svg-contour-path: var(--green-200);
  --background-svgs: var(--green-100);

  //button
  --button-background: url(../../public/gradient.svg);
  --button-border: var(--green-300);
  --button-color: var(--green-400);

  //moving-content
  --moving-content-fade: var(--white);

  //tooltip
  --tooltip-background: var(--green-300);

  //navbar
  --navbar-gradient: url(../../public/gradient.svg);
}
