@mixin light-mode() {
  --titleColor: var(--green-500);
  --textColor: var(--green-400);
  --backgroundColor: #f2f7f3;

  --navbarLinksColor: var(--green-400);
  --navbarBackgroundColor: var(--green-200);

  --timelineCircleColor: var(--green-500);
  --timelineProject: var(--green-300);
  --timelineLeftCircle: var(--green-300);
  --timelineLeftText: var(--green-300);
  --timelineColor: var(--green-100);

  --footer-background-color: var(--green-200);

  //contact
  --contactBackgroundColor: var(--green-100);
  --birdsURL: url('../assets/birds-light-mode.svg');
  --buttonTextColor: var(--white);
  --buttonBackgroundColor: var(--green-400);

  --inputBackgroundColor: var(--white);
  --inputBorderColor: var(--gray-200);

  --projectBackgroundColor: var(--green-100);

  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--gray-200);
  --filter-chip-active-background-color: var(--green-100);
  --filter-chip-details-menu-background-color: var(--green-100);
  --filter-chip-hover-option-background-color: var(--green-200);

  --project-see-more-background-color: var(--green-100);

  --separator-color: var(--gray-100);

  //project-item
  --img-background: var(--white);
  --project-item-bg: var(--white);
  --project-item-border-color: var(--gray-200);

  //project-details
  --thumbnail-border: var(--gray-200);
  --skill-group-border: var(--gray-200);

  //suggestion-chip
  --suggestion-chip-bg: var(--white);

  //highlightable-chip
  --highlightable-chip-background-color: var(--green-50);
  --highlightable-chip-border-color: var(--green-200);
  --highlightable-chip-gradient-1: var(--green-400);
  --highlightable-chip-gradient-2: var(--green-300);
  --highlightable-chip-gradient-3: var(--green-200);
  --highlightable-chip-gradient-4: var(--green-400);

  //landing-page
  --svg-contour-path: var(--green-200);
  --background-svgs: var(--green-100);

  //button
  --button-background: url(../../public/gradient.svg);
  --button-border: var(--green-300);
  --button-color: var(--green-400);
  --button-plain-border: var(--green-300);

  //moving-content
  --moving-content-fade: var(--white);
  --moving-content-fade-alt: var(--green-100);

  //tooltip
  --tooltip-background: var(--green-300);

  //navbar
  --navbar-gradient: url(../../public/gradient.svg);

  //row-with-separator
  --separator-main-color: var(--green-100);
  --separator-second-color: var(--green-200);
  --separator-third-color: var(--green-300);

  //grids
  --grid-cell-default-bg: var(--gray-50);

  //skill-detailed-card
  --skill-card-bg: var(--white);

  //action-button
  --action-button-bg: var(--white);
  --action-button-color: var(--black);
  --action-button-border-color: var(--gray-100);

  //grid-item
  --grid-item-default-bg: var(--white);
  --grid-item-border: 2px solid var(--backgroundColor);

  //linkedin
  --linkedin-bg: #65b3ec;

  //github
  --github-bg: rgb(52, 58, 52);
}
