@mixin light-mode() {
  //action-button
  --action-button-background: var(--white);
  --action-button-color: var(--gray-400);
  --action-button-border-color: var(--gray-200);

  //archives
  --archives-header-bg: var(--green-250);
  --archives-header-color: var(--white);

  //button
  --button-background: url(../../public/gradient.svg);
  --button-border: var(--green-300);
  --button-color: var(--green-400);
  --button-plain-border: var(--green-300);

  //filter-chip
  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--gray-300);
  --filter-chip-active-background-color: var(--gray-100);
  --filter-chip-details-menu-background-color: var(--white);
  --filter-chip-hover-option-background-color: var(--gray-100);

  //freelance-since
  --freelance-since-p-color: var(--gray-500);

  //github
  --github-bg: var(--gray-500);
  --github-empty-color: var(--gray-400);

  //grid-item
  --grid-item-default-bg: var(--white);
  --grid-item-border: 1px solid var(--gray-200);
  --grid-item-bottom-text-color: var(--gray-200);
  --grid-item-shadow-color: rgba(0, 0, 0, 0.05);

  //highlightable-chip
  --highlightable-chip-background-color: var(--green-50);
  --highlightable-chip-border-color: var(--green-200);
  --highlightable-chip-gradient-1: var(--green-400);
  --highlightable-chip-gradient-2: var(--green-300);
  --highlightable-chip-gradient-3: var(--green-200);
  --highlightable-chip-gradient-4: var(--green-400);

  //image
  --image-svg-color: var(--gray-100);

  //input
  --input-background-color: var(--white);
  --input-border-color: var(--gray-300);

  //landing-page
  --landing-page-svg-contour-path: var(--green-200);

  //linkedin
  --linkedin-bg: var(--blue);

  //map
  --map-rayon-background: #ffffff;
  --map-rayon-border: var(--blue);

  //moving-content
  --moving-content-fade: var(--white);
  --moving-content-fade-alt: var(--green-100);

  //navbar
  --navbar-gradient: url(../../public/gradient.svg);
  --navbar-inactive-link-color: var(--gray-400);

  //ongoing
  --ongoing-background: var(--grid-item-default-bg);

  //project-details
  --project-details-skills-recap-bg-completed: var(--green-250);
  --project-details-skills-recap-bg-ongoing: var(--blue);
  --project-details-skills-recap-bg-abandoned: var(--gray-500);

  //project-duration
  --project-duration-completed: var(--green-250);
  --project-duration-ongoing: var(--blue);
  --project-duration-abandoned: var(--gray-400);

  //project-item
  --project-item-completed-background: var(--green-250);
  --project-item-completed-color: white;
  --project-item-abandoned-background: var(--gray-500);
  --project-item-abandoned-color: white;
  --project-item-ongoing-background: var(--blue);
  --project-item-ongoing-color: white;

  //project-item-skill-list
  --project-item-skill-list-skill-background: var(--gray-100);
  --project-item-skill-list-skill-border: var(--gray-200);
  --project-item-skill-list-color: var(--gray-500);

  //project-name-header
  --project-name-header-completed-background: var(--green-250);
  --project-name-header-completed-color: white;
  --project-name-header-abandoned-background: var(--gray-500);
  --project-name-header-abandoned-color: white;
  --project-name-header-ongoing-background: var(--blue);
  --project-name-header-ongoing-color: white;

  //projects
  --projects-1-bg: var(--blue);
  --projects-2-bg: var(--green-250);
  --projects-3-bg: var(--blue);

  //projects-by-context
  --projects-by-context-icons-bg: var(--blue);
  --projects-by-context-icons-color: var(--white);

  //reset-button
  --reset-button-color: var(--gray-700);

  //robotic-arm
  --robotic-arm-arms-fill: var(--gray-400);
  --robotic-arm-axes-fill: var(--gray-500);

  //skills-recap
  --skills-recap-frontend-bg: var(--blue);
  --skills-recap-backend-bg: var(--green-250);
  --skills-recap-general-bg: var(--gray-500);

  --skills-recap-counter-bg: var(--gray-100);
  --skills-recap-counter-color: var(--gray-500);

  --skills-recap-separator: var(--gray-100);

  //skill-section-header
  --skill-section-header-frontend-bg: var(--blue);
  --skill-section-header-frontend-color: white;

  --skill-section-header-backend-bg: var(--green-250);
  --skill-section-header-backend-color: white;

  --skill-section-header-general-bg: var(--gray-500);
  --skill-section-header-general-color: white;

  //status-filtering
  --status-filtering-completed: var(--gray-600);
  --status-filtering-ongoing: var(--gray-500);
  --status-filtering-abandoned: var(--gray-400);
  --status-filtering-selected: var(--gray-600);
  --status-filtering-not-selected: var(--gray-400);

  //styles
  --styles-title-color: var(--gray-700);
  --styles-text-color: var(--black);
  --styles-background-color: var(--gray-100);
  --styles-paragraph-highlight-bg-color: rgb(241, 241, 241);
  --styles-paragraph-highlight-color: var(--black);
  --styles-thumbnail-border: var(--gray-300);
  --styles-default-paragraph-color: var(--gray-500);

  //suggestion-chip
  --suggestion-chip-bg: var(--white);

  //tooltip
  --tooltip-background: var(--green-300);
}
