@import '../styles/responsive.scss';

@mixin light-mode() {
  //action-button
  --action-button-background: var(--white);
  --action-button-color: var(--primary-500);
  --action-button-border-color: var(--primary-200);

  //archives
  --archives-header-color: var(--white);

  //availability
  --availability-dot-color: var(--gray-800);

  //description
  --description-icon-color: var(--primary-500);
  --description-rectangle-1-background-color: var(--primary-800);
  --description-rectangle-2-background-color: var(--primary-700);
  --description-rectangle-3-background-color: var(--primary-500);
  --description-illustration-icon-color: var(--primary-200);

  //filter-chip
  //https://m3.material.io/components/chips/specs
  --filter-chip-border-color: var(--gray-300);
  --filter-chip-active-background-color: var(--gray-100);
  --filter-chip-details-menu-background-color: var(--white);
  --filter-chip-hover-option-background-color: var(--gray-100);

  //freelance-since
  --freelance-since-p-color: var(--gray-500);

  //github
  --github-icon-color: white;

  //grid-item
  --grid-item-default-bg: white;
  --grid-item-border: 1px solid var(--gray-200);
  --grid-item-bottom-text-color: var(--gray-200);
  --grid-item-shadow-color: rgba(27, 110, 41, 0.1);

  //home
  --home-github-background-color: var(--primary-500);
  --home-github-icon-color: white;

  //image
  --image-svg-color: var(--primary-200);

  //input
  --input-background-color: var(--white);
  --input-border-color: var(--gray-300);

  //linkedin
  --linkedin-letters-color: var(--grid-item-default-bg);
  --linkedin-contour-bg: var(--gray-800);

  //map
  --map-rayon-background: var(--gray-200);
  --map-rayon-border: var(--primary-500);

  //mail
  --mail-background-color: var(--primary-500);
  --mail-color: white;

  //moving-content
  --moving-content-fade: var(--white);

  //navbar
  --navbar-active-link-color: var(--primary-500);
  --navbar-inactive-link-color: var(--gray-300);
  --navbar-logo-name: white;
  --navbar-background-color: var(--primary-500);
  --navbar-language-selector-color: var(--gray-800);
  --navbar-open-menu-color: white;

  @include responsive('medium') {
    --navbar-active-link-color: white;
    --navbar-inactive-link-color: var(--primary-800);
    --navbar-language-selector-color: white;
  }

  //now
  --now-icon-color: var(--primary-500);
  --now-link-color: var(--primary-800);

  //ongoing
  --ongoing-background: var(--grid-item-default-bg);

  //project-details
  --project-details-skills-recap-bg-abandoned: var(--gray-500);

  //project-duration
  --project-duration-abandoned: var(--gray-400);

  //project-item
  --project-item-completed-color: white;
  --project-item-abandoned-background: var(--gray-500);
  --project-item-abandoned-color: white;
  --project-item-ongoing-color: white;

  //project-item-skill-list
  --project-item-skill-list-skill-background: var(--gray-100);
  --project-item-skill-list-skill-border: var(--gray-200);
  --project-item-skill-list-color: var(--gray-500);

  //project-name-header
  --project-name-header-completed-color: white;
  --project-name-header-abandoned-background: var(--gray-500);
  --project-name-header-abandoned-color: white;
  --project-name-header-ongoing-color: white;

  //projects-by-context
  --projects-by-context-icons-color: var(--white);

  //reset-button
  --reset-button-color: var(--gray-700);

  //resume
  --resume-background-color: var(--primary-500);
  --resume-color: white;

  //robotic-arm
  --robotic-arm-arms-fill: var(--gray-400);
  --robotic-arm-axes-fill: var(--gray-500);

  //skills-recap
  --skills-recap-general-bg: var(--gray-500);

  --skills-recap-counter-bg: var(--gray-100);
  --skills-recap-counter-color: var(--gray-500);

  --skills-recap-separator: var(--gray-100);

  //skill-section-header
  --skill-section-header-frontend-color: white;

  --skill-section-header-backend-color: white;

  --skill-section-header-general-bg: var(--gray-500);
  --skill-section-header-general-color: white;

  //status-filtering
  --status-filtering-completed: var(--gray-600);
  --status-filtering-ongoing: var(--gray-500);
  --status-filtering-abandoned: var(--gray-400);
  --status-filtering-selected: var(--gray-600);
  --status-filtering-not-selected: var(--gray-400);

  //styles
  --styles-title-color: var(--gray-700);
  --styles-text-color: var(--gray-800);
  --styles-background-color: var(--gray-100);
  --styles-paragraph-highlight-bg-color: rgb(241, 241, 241);
  --styles-thumbnail-border: var(--gray-300);
  --styles-default-paragraph-color: var(--gray-500);

  //suggestion-chip
  --suggestion-chip-bg: var(--white);
}
