/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './breakpoints.scss';
@import './light-mode.scss';
@import './dark-mode.scss';

body.dark-mode {
  @include dark-mode();
}

body.light-mode {
  @include light-mode();
}

body,
html {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  color: var(--textColor);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
  font-size: 10px;

  @media (min-width: $tablets) {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

h1,
h2 {
  font-family: 'Limelight';
  font-weight: normal;
  color: var(--titleColor);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.8s linear infinite;
}

//Inclut le padding et border dans le calcul de la taille d'un élément
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
