/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './breakpoints.scss';
@import './light-mode.scss';
@import './dark-mode.scss';
@import './design-system.scss';
@import 'material-symbols';

//https://www.magicpattern.design/tools/grid-background-pattern-generator
body.dark-mode {
  @include dark-mode();
  background-color: var(--backgroundColor);
}

body.light-mode {
  @include light-mode();
  background-color: var(--backgroundColor);
}

//Inclut le padding et border dans le calcul de la taille d'un élément
html {
  @include design-system();
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  transition: background-color 0.3s ease-out;

  margin: 0;
  padding: 0;
  color: var(--textColor);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
  font-size: 12px;

  @media (min-width: $tablets) {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

h1,
h2 {
  font-family: 'Limelight';
  font-weight: normal;
  color: var(--titleColor);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(120, 148, 97, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(233, 238, 226, 0);
  }
}

.blink {
  animation: blink 0.8s linear infinite;
}

.g-thumbnail-container {
  border-radius: 12px;
  overflow: hidden;
  height: 200px;
  width: 350px;
  border: 1px solid var(--thumbnail-border);
  flex-shrink: 0;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media (min-width: $tablets) {
    height: 300px;
    width: 450px;
  }
}

.melo-general-text {
  line-height: 200%;
}
