/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './responsive.scss';
@import './light-mode.scss';
@import './dark-mode.scss';
@import './design-system.scss';
@import 'material-symbols';
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --grid-width: 356px; //pour que ça fonctionne même sur petit téléphone
  --columns: 4;
  --gap: 12px;
  --grid-icon-centered-size: 20px;
  --body-font-family: 'Poppins', sans-serif;
  --title-font-family: 'Grandstander', cursive;

  @include responsive('medium') {
    --grid-width: calc(#{map-get($sizes, 'medium')} - 20px);
    --columns: 4;
  }

  @include responsive('large') {
    --grid-width: calc(#{map-get($sizes, 'large')} - 20px);
    --columns: 4;
    --gap: 18px;
    --grid-icon-centered-size: 50px;
  }

  --cell-size: calc(
    calc(var(--grid-width) / var(--columns)) - calc(
        calc(var(--gap) * (var(--columns) - 1)) / var(--columns)
      )
  );
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

//https://www.magicpattern.design/tools/grid-background-pattern-generator
body.dark-mode {
  @include dark-mode();
  background-color: var(--styles-background-color);
}

body.light-mode {
  @include light-mode();
  background-color: var(--styles-background-color);
}

//Inclut le padding et border dans le calcul de la taille d'un élément
html {
  @include design-system();
  box-sizing: border-box;
  height: 100vh; //So the modals
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  transition: background-color 0.3s ease-out;
  margin: 0;
  padding: 0;
  color: var(--styles-text-color);
  font-family: var(--body-font-family);
  overflow-x: hidden;
  font-size: var(--text-xs);

  @include responsive('medium') {
    font-size: var(--text-sm);
  }

  @include responsive('large') {
    font-size: var(--text-md);
  }
}

body {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: var(--title-font-family);
  font-weight: bold;
  font-style: normal;
  color: var(--styles-title-color);

  @include responsive('large') {
    letter-spacing: 2px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(120, 148, 97, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(233, 238, 226, 0);
  }
}

.blink {
  animation: blink 0.8s linear infinite;
}

.g-thumbnail-container {
  border-radius: 12px;
  overflow: hidden;
  height: 200px;
  width: 350px;
  border: 1px solid var(--styles-thumbnail-border);
  flex-shrink: 0;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @include responsive('medium') {
    height: 300px;
    width: 450px;
  }
}

.g-text {
  line-height: 200%;
}

.g-container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.g-first-title {
  margin-top: 2em !important; //pour régler l'écart entre les titres séparateurs et le bas de la navbar
}

/* Grid system */

.g-grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-auto-rows: var(--cell-size);
  transition: 300ms;
}

.g-grid-container {
  max-width: var(--grid-width);
  margin: 0px auto;
}

/* Others */

.g-bold-not-title {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.g-grid-item {
  border-radius: 15px;
  background-color: var(--grid-item-default-bg);
  border: var(--grid-item-border);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition:
    box-shadow 300ms,
    border-color 500ms,
    transform 500ms;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 24px 0px;
    // transform: scale(1.02);
  }

  &.g-grid-item-start-aligned {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    h2 {
      margin-top: 0;
    }
  }

  .g-grid-item-main-text {
    flex-grow: 1;
    width: 100%;
  }

  .g-grid-item-footer-text {
    text-align: end;
    color: var(--grid-item-bottom-text-color);
    width: 100%;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .g-grid-item-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .g-grid-item-footer-text {
      flex-grow: 1;
      width: auto;
    }
  }
}

.g-paragraph {
  line-height: 170%;

  @include responsive('medium') {
    line-height: 180%;
  }

  @include responsive('large') {
    line-height: 200%;
  }

  span {
    display: inline-block;
    white-space: nowrap;
    color: var(--styles-paragraph-highlight-color);
    transition: 500ms;
    position: relative;
    margin: 0 6px;
    z-index: 1;

    &::after {
      padding: 2px 8px;
      background-color: var(--styles-paragraph-highlight-bg-color);
      content: '';
      width: calc(100% + 12px);
      height: 1.4rem;
      position: absolute;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &:hover {
    span {
      transform: rotate(-3deg);
    }
  }
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;

  &.small {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &.large {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }
}
