/* You can add global styles to this file, and also import other style files */
@use '_functions' as functions;
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './responsive.scss';
@import './light-mode.scss';
@import './dark-mode.scss';
@import './design-system.scss';
@import 'material-symbols';
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --grid-width: 356px; //pour que ça fonctionne même sur petit téléphone
  --columns: 4;
  --gap: 12px;
  --body-font-family: 'Poppins', sans-serif;
  --title-font-family: 'Grandstander', cursive;
  font-size: var(--text-xs);

  @include responsive('medium') {
    font-size: var(--text-sm);
    --grid-width: calc(#{map-get($sizes, 'medium')} - 20px);
    --columns: 8;
    --gap: 14px;
  }

  // @include responsive('large') {
  //   --grid-width: calc(#{map-get($sizes, 'large')} - 20px);
  //   --columns: 12;
  //   --gap: 16px;
  // }

  --cell-size: #{functions.getCellSize(
      var(--grid-width),
      var(--columns),
      var(--gap)
    )};
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

//https://www.magicpattern.design/tools/grid-background-pattern-generator
body.dark-mode {
  @include dark-mode();
  background-color: var(--styles-background-color);
}

body.light-mode {
  @include light-mode();
  background-color: var(--styles-background-color);
}

//Inclut le padding et border dans le calcul de la taille d'un élément
html {
  @include design-system();
  box-sizing: border-box;
  height: 100vh; //So the modals
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  transition: background-color 0.3s ease-out;
  margin: 0;
  padding: 0;
  color: var(--styles-text-color);
  font-family: var(--body-font-family);
  overflow-x: hidden;
}

h2,
p {
  margin: 0;
}

h2,
h3 {
  padding-top: 0.2em;
}

p,
li {
  color: var(--styles-default-paragraph-color);
}

body {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: var(--title-font-family);
  font-weight: bold;
  font-style: normal;
  color: var(--styles-title-color);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(120, 148, 97, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(233, 238, 226, 0);
  }
}

.blink {
  animation: blink 0.8s linear infinite;
}

.g-thumbnail-container {
  border-radius: 12px;
  overflow: hidden;
  height: 200px;
  width: 350px;
  border: 1px solid var(--styles-thumbnail-border);
  flex-shrink: 0;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @include responsive('medium') {
    height: 300px;
    width: 450px;
  }
}

.g-container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.g-first-title {
  margin-top: 2em !important; //pour régler l'écart entre les titres séparateurs et le bas de la navbar
}

/* Grid system */

.g-grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-auto-rows: var(--cell-size);
}

.g-grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Others */

.g-grid-item {
  border-radius: 15px;
  background-color: var(--grid-item-default-bg);
  border: var(--grid-item-border);
  position: relative;
  overflow: hidden;
  transition:
    box-shadow 300ms,
    border-color 500ms,
    transform 500ms;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 24px 0px;
    // transform: scale(1.02);
  }
}

.g-grid-item-shadow {
  box-shadow: -3px 3px 7px 0 var(--grid-item-shadow-color);
}

p,
li {
  line-height: 150%;
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;

  &.small {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &.large {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }
}
