@import '../../shared/grid/grid-item.scss';
@import '../../../styles/responsive.scss';

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

:host {
  @include grid-2x2;

  @include responsive('large') {
    @include grid-1x2;
  }

  h2 {
    margin-top: 0;
  }

  .description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include responsive('large') {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  img {
    width: 90px;
    height: auto;
    position: relative;
    animation: 1s slideInFromLeft;
    transition: 1s;

    @include responsive('medium') {
      width: 90px;
    }

    @include responsive('large') {
      width: 140px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;

    @include responsive('medium') {
      margin-top: 0;
    }
  }

  &:hover {
    img {
      rotate: -5deg;
    }
  }
}
