@import '../../../styles/responsive.scss';

:host {
  padding: 4rem;

  @include responsive('medium') {
    padding: 3rem;
  }

  .description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    @include responsive('large') {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }

  img {
    width: 100px;
    height: auto;

    @include responsive('medium') {
      width: 130px;
    }

    @include responsive('large') {
      width: 120px;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 2rem;

    @include responsive('medium') {
      margin-top: 1rem;
    }
  }
}
