@import '../../../styles/responsive.scss';

:host {
  background-color: var(--github-bg) !important;

  img {
    width: var(--size-grid-icon-centered);
  }
}

.empty {
  position: relative;

  img {
    opacity: 0.5;
  }

  p {
    position: absolute;
    color: var(--github-empty-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
  }
}
