@import '../../../styles/responsive.scss';

:host {
  background-color: var(--github-bg) !important;

  img {
    width: 35px;

    @include responsive('medium') {
      width: 50px;
    }

    @include responsive('large') {
      width: 60px;
    }
  }
}

.empty {
  position: relative;

  img {
    opacity: 0.5;
  }

  p {
    position: absolute;
    color: var(--github-empty-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
  }
}

mat-icon {
  position: absolute;
  color: white;
  left: 20px;
  bottom: 20px;
}
