:host {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

p {
  margin: 0;
  font-size: var(--text-xxl);
  font-family: var(--title-font-family);
  line-height: 1;
  color: white;
}

.ongoing,
.abandoned,
.completed {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  --mat-icon-size: 15px;
  font-size: 0.9rem;
  gap: 4px;
  font-family: var(--title-font-family);
  transition: 500ms ease-in-out;

  mat-icon {
    font-size: var(--mat-icon-size);
    width: var(--mat-icon-size);
    height: var(--mat-icon-size);
  }

  &.selected {
    transform: translateY(0%);
    background-color: var(--status-filtering-selected);
  }

  &:not(.allSelected):not(.selected) {
    transform: translateY(50%);
    background-color: var(--status-filtering-not-selected);

    p {
      display: none;
    }
  }
}

.ongoing {
  background-color: var(--status-filtering-ongoing);
}

.abandoned {
  background-color: var(--status-filtering-abandoned);
}

.completed {
  background-color: var(--status-filtering-completed);
}
