<div
  class="completed status-filter"
  (click)="selectStatus('completed')"
  tabindex="0"
  (keyup)="selectStatus('completed')"
  [class.allSelected]="archivesService.selectedStatus() === null"
  [class.selected]="
    archivesService.selectedStatus() === 'completed' &&
    projectsByStatus().completed !== undefined
  ">
  <p>
    {{ projectsByStatus().completed ? projectsByStatus().completed.length : 0 }}
  </p>
  <mat-icon>check</mat-icon>
</div>

<div
  class="ongoing status-filter"
  (click)="selectStatus('ongoing')"
  tabindex="0"
  (keyup)="selectStatus('ongoing')"
  [class.allSelected]="archivesService.selectedStatus() === null"
  [class.selected]="
    archivesService.selectedStatus() === 'ongoing' &&
    projectsByStatus().ongoing !== undefined
  ">
  <p>
    {{ projectsByStatus().ongoing ? projectsByStatus().ongoing.length : 0 }}
  </p>
  <mat-icon>settings</mat-icon>
</div>

<div
  class="abandoned status-filter"
  (click)="selectStatus('abandoned')"
  tabindex="0"
  (keyup)="selectStatus('abandoned')"
  [class.allSelected]="archivesService.selectedStatus() === null"
  [class.selected]="
    archivesService.selectedStatus() === 'abandoned' &&
    projectsByStatus().abandoned !== undefined
  ">
  <p>
    {{ projectsByStatus().abandoned ? projectsByStatus().abandoned.length : 0 }}
  </p>
  <mat-icon>delete</mat-icon>
</div>
