<div
  class="completed status-filter"
  (click)="selectStatus('completed')"
  tabindex="0"
  (keyup)="selectStatus('completed')"
  [class.allSelected]="showAll()"
  [class.selected]="archivesService.selectedStatus() === 'completed'">
  <p>
    {{ projectsByStatus().completed ? projectsByStatus().completed.length : 0 }}
  </p>
  <mat-icon>check</mat-icon>
</div>

<div
  class="ongoing status-filter"
  (click)="selectStatus('ongoing')"
  tabindex="0"
  (keyup)="selectStatus('ongoing')"
  [class.allSelected]="showAll()"
  [class.selected]="archivesService.selectedStatus() === 'ongoing'">
  <p>
    {{ projectsByStatus().ongoing ? projectsByStatus().ongoing.length : 0 }}
  </p>
  <mat-icon>settings</mat-icon>
</div>

<div
  class="abandoned status-filter"
  (click)="selectStatus('abandoned')"
  tabindex="0"
  (keyup)="selectStatus('abandoned')"
  [class.allSelected]="showAll()"
  [class.selected]="archivesService.selectedStatus() === 'abandoned'">
  <p>
    {{ projectsByStatus().abandoned ? projectsByStatus().abandoned.length : 0 }}
  </p>
  <mat-icon>delete</mat-icon>
</div>
