@import '../../../../styles/responsive.scss';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

p {
  margin: 0;
  font-size: var(--text-xxl);
  font-family: var(--title-font-family);
  line-height: 1;
}

.ongoing,
.abandoned,
.completed {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  --mat-icon-size: 15px;
  font-size: 0.9rem;
  gap: 4px;
  font-family: var(--title-font-family);
  transition: 500ms ease-in-out;

  mat-icon {
    font-size: var(--mat-icon-size);
    width: var(--mat-icon-size);
    height: var(--mat-icon-size);
  }

  @include responsive('medium') {
    width: 45px;
    height: 130px;
  }

  @include responsive('large') {
    width: 70px;
    height: 220px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    --mat-icon-size: 25px;
    padding-top: 20px;
    font-size: 1.2rem;
  }

  &.selected {
    transform: translateY(0%);
    background-color: var(--gray-600);
  }

  &:not(.allSelected):not(.selected) {
    transform: translateY(50%);
    background-color: var(--gray-300);

    p {
      display: none;
    }
  }
}

.ongoing {
  background-color: var(--gray-500);
}

.abandoned {
  background-color: var(--gray-400);
}

.completed {
  background-color: var(--green-600);
}
