@import '../../../styles/breakpoints.scss';

//https://codepen.io/emared/pen/gWGBLR

.bg {
  background-color: var(--separator-main-color);
}

.row {
  width: 100%;
  padding: 0;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablets) {
    margin-top: 10rem;
  }
}

.top-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
  width: 100%;
}

.main-color {
  fill: var(--separator-main-color);
}

.second-color {
  fill: var(--separator-third-color);
}

.third-color {
  fill: var(--separator-second-color);
}

.background-color {
  fill: var(--backgroundColor);
  stroke: var(--backgroundColor);
}

.content {
  margin: 3rem auto;
  z-index: 10;
  position: relative;
}
