@import '../../../styles/responsive.scss';

:host {
  --action-button-transition-time: 400ms;
  --action-button-border-size: 1px;
  --action-button-size: 30px;
  --action-button-icon-size: 14px;

  color: var(--action-button-color);
  background-color: var(--action-button-background);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: box-shadow 300ms;
  border: 1px solid var(--action-button-border-color);
  border-radius: 18px;
  height: var(--action-button-size);
  min-width: var(--action-button-size);

  @include responsive('medium') {
    --action-button-border-size: 1px;
    --action-button-size: 32px;
    --action-button-icon-size: 16px;
  }

  @include responsive('large') {
    --action-button-border-size: 1px;
    --action-button-size: 36px;
    --action-button-icon-size: 18px;
  }

  &.position-absolute {
    position: absolute;
  }

  &.bottom-left {
    left: 16px;
    bottom: 16px;
  }

  &.bottom-left-2 {
    left: 64px;
    bottom: 16px;
  }

  &.bottom-right {
    right: 16px;
    bottom: 16px;
  }

  &.top-right {
    top: 16px;
    right: 16px;
  }

  mat-icon {
    height: var(--action-button-icon-size);
    width: var(--action-button-icon-size);
    font-size: var(--action-button-icon-size);
    margin-left: calc(
      (var(--action-button-size) - var(--action-button-icon-size)) / 2 - var(
          --action-button-border-size
        )
    );
    margin-right: calc(
      (var(--action-button-size) - var(--action-button-icon-size)) / 2 - var(
          --action-button-border-size
        )
    );
    color: var(--styles-title-color);
  }

  .text {
    max-width: 0;
    opacity: 0;
    transform: translateX(-8px);
    transition:
      max-width var(--action-button-transition-time),
      padding-right var(--action-button-transition-time),
      opacity var(--action-button-transition-time),
      transform var(--action-button-transition-time);
    transition-timing-function: linear;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(229, 226, 226, 0.3) 0px 0px 0px 4px;
  }

  &:hover:not(.text-is-empty),
  &.unfold:not(.text-is-empty) {
    .text {
      max-width: 200px;
      opacity: 1;
      padding-right: 0.7rem;
      transform: none;
    }
  }
}
