:host {
  &:hover {
    ::ng-deep {
      img {
        rotate: -5deg;
      }
    }
  }
}

.carousel {
  height: 100%;
  width: 100%;
}

.carousel-items {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .carousel-item {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    transition: all 0.5s linear;
  }
}

.counter {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--action-button-background);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  border: 1px solid var(--grid-item-border);
}
