<div class="icon">
  @if (project.icon) {
    <img [src]="project.icon" alt="" />
  } @else {
    <mat-icon>apps</mat-icon>
  }
</div>

<h1>{{ project.label }}</h1>

<div class="g-paragraph description">{{ project.description }}</div>

<div class="bottom">
  @if (project.deployment) {
    <app-action-button
      [positionAbsolute]="false"
      [unfold]="true"
      text="Voir le site"
      (click)="openLink()">
    </app-action-button>
  }

  <div class="type">{{ project.project_type.label }}</div>
</div>
