@use '../../../styles/responsive.scss' as responsive;

img {
  position: absolute;
  width: 100px;
  right: 0;
  bottom: 0;
  object-fit: contain;
  margin-right: 2rem;
  margin-bottom: 1rem;
  z-index: 10;

  @include responsive.responsive('medium') {
    width: 120px;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
}

#sun {
  position: absolute;
  left: 0;
  top: 0;
}

#tree {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bush {
  position: absolute;
  left: 0;
  bottom: 0;
}
