img {
  width: 100px;
  height: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 10;
}

#sun {
  position: absolute;
  left: 0;
  top: 0;
}

#tree {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bush {
  position: absolute;
  left: 0;
  bottom: 0;
}
