@use '../../../styles/responsive.scss' as responsive;

img {
  position: absolute;
  width: 100px;
  right: 0;
  bottom: 0;
  object-fit: contain;
  margin-right: 2rem;
  margin-bottom: 1rem;
  z-index: 10;

  @include responsive.responsive('medium') {
    width: 120px;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
}

#sun,
#moon {
  position: absolute;
}

#sun {
  top: -2rem;
  left: -2rem;

  @include responsive.responsive('medium') {
    top: 0.5rem;
    left: 0.5rem;
  }
}

#moon {
  top: 0.5rem;
  left: 0.5rem;
  transform: scale(0.8);

  @include responsive.responsive('medium') {
    top: 1rem;
    left: 1rem;
    transform: scale(1);
  }
}

#tree {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bush {
  position: absolute;
  left: 0;
  bottom: 0;
}
