@import '../../../styles/responsive.scss';
@import '../../shared/grid/grid-item.scss';

:host {
  @include grid-1x2;

  &:hover {
    .illustration-container {
      transform: translateY(5%);
      box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 15px 0px;
      rotate: -5deg;
    }
  }
}

h2 {
  flex-grow: 1;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
}

.illustration-container {
  width: 150px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 10px 0px;
  animation: slideInFromBottom 1s;
  transition: 0.5s;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include responsive('medium') {
    width: 160px;
  }

  @include responsive('large') {
    width: 250px;
  }
}
