<div class="g-grid-container">
  @for (section of sections; track section.heading) {
    <div
      class="g-grid"
      [ngClass]="section.class"
      [style]="
        '--section-bg: ' +
        section.sectionBackgroundColor +
        ';--section-color: ' +
        section.sectionColor
      ">
      <app-skill-section-header>
        <span>{{ section.subtitle }}</span>
      </app-skill-section-header>
      <app-skill-section-description
        [mainText]="section.heading"
        [secondaryText]="section.description"></app-skill-section-description>
      <app-skills-recap
        [skills]="section.skills"
        [recapBackgroundColor]="
          section.recapBackgroundColor
        "></app-skills-recap>

      @for (skill of section.skills | loved; track skill.id; let i = $index) {
        <app-skill-highlight
          class="loved"
          [attr.data-index]="i"
          [skill]="skill"
          [iconColor]="
            themeService.isDarkMode
              ? section.sectionColor
              : section.sectionBackgroundColor
          "></app-skill-highlight>
      } @empty {
        @for (i of 2 | range; track i) {
          <app-skill-highlight-placeholder
            class="loved"
            [attr.data-index]="i"></app-skill-highlight-placeholder>
        }
      }

      @for (
        skill of section.skills | learning;
        track skill.id;
        let i = $index
      ) {
        <app-skill-highlight
          class="learning"
          [attr.data-index]="i"
          [skill]="skill"
          [iconColor]="
            themeService.isDarkMode
              ? section.sectionColor
              : section.sectionBackgroundColor
          "></app-skill-highlight>
      } @empty {
        @for (i of 2 | range; track i) {
          <app-skill-highlight-placeholder
            class="learning"
            [attr.data-index]="i"></app-skill-highlight-placeholder>
        }
      }
    </div>
  }
</div>
