@import '../../styles/responsive.scss';

app-keep-learning {
  grid-row: 3 / 6;
  grid-column: 1 / 5;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 1 / 4;
  }
}

app-favorites {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
}

app-key-header {
  font-size: var(--text-xl);

  &.section-frontend {
    grid-row: 6;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 3;
    }
  }

  &.section-backend {
    grid-row: 14;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 7;
      grid-column: 5 / 9;
    }
  }

  &.section-general {
    grid-row: 22;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 11;
      grid-column: 1 / 5;
    }
  }
}

app-skill-highlight {
  &.section-frontend {
    grid-row: 7 / 9;

    @include responsive('medium') {
      grid-row: 4 / 6;
    }

    &:nth-of-type(1) {
      grid-column: 1 / 3;
    }

    &:nth-of-type(2) {
      grid-column: 3 / 5;
    }
  }

  &.section-backend {
    grid-row: 15 / 17;

    @include responsive('medium') {
      grid-row: 8 / 10;
    }

    &:nth-of-type(3) {
      grid-column: 1 / 3;

      @include responsive('medium') {
        grid-column: 5 / 7;
      }
    }

    &:nth-of-type(4) {
      grid-column: 3 / 5;

      @include responsive('medium') {
        grid-column: 7 / 9;
      }
    }
  }

  &.section-general {
    grid-row: 23 / 25;

    @include responsive('medium') {
      grid-row: 12 / 14;
    }

    &:nth-of-type(5) {
      grid-column: 1 / 3;
    }

    &:nth-of-type(6) {
      grid-column: 3 / 5;
    }
  }
}

app-skill-section-description {
  &.section-frontend {
    grid-row: 9 / 11;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 6 / 8;
    }
  }

  &.section-backend {
    grid-row: 17 / 19;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 10 / 12;
      grid-column: 5 / 9;
    }
  }

  &.section-general {
    grid-row: 25 / 27;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-column: 1 / 5;
      grid-row: 14 / 16;
    }
  }
}

app-skills-recap {
  &.section-frontend {
    grid-row: 11 / 14;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 4 / 7;
      grid-column: 5 / 9;
    }
  }

  &.section-backend {
    grid-row: 19 / 22;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-row: 8 / 11;
      grid-column: 1 / 5;
    }
  }

  &.section-general {
    grid-row: 27 / 30;
    grid-column: 1 / 5;

    @include responsive('medium') {
      grid-column: 5 / 9;
      grid-row: 12 / 15;
    }
  }
}
