@import '../../styles/responsive.scss';

.g-grid-container:not(:last-child) {
  margin-bottom: var(--gap);
}

app-key-header {
  grid-row: 1;
  grid-column: 1 / 5;
  font-size: var(--text-xl);
}

app-skill-section-description {
  grid-row: 4 / 6;
  grid-column: 1 / 5;
}

app-skills-recap {
  grid-row: 6 / 9;
  grid-column: 1 / 5;
}

app-skill-highlight:nth-of-type(1) {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

app-skill-highlight:nth-of-type(2) {
  grid-row: 2 / 4;
  grid-column: 3 / 5;
}

app-keep-learning {
  grid-row: 3 / 6;
  grid-column: 1 / 5;
}

app-favorites {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
}
