<div class="g-grid-container">
  <div class="g-grid" @gridItemAnimation>
    <app-favorites></app-favorites>
    <app-keep-learning></app-keep-learning>
  </div>
</div>

@for (section of sections; track section.heading) {
  <div class="g-grid-container">
    <div
      class="g-grid"
      @gridItemAnimation
      [ngClass]="section.class"
      [style]="
        '--section-bg: ' +
        section.sectionBackgroundColor +
        ';--section-color: ' +
        section.sectionColor
      ">
      <app-key-header>
        {{ section.subtitle }}
      </app-key-header>

      @for (i of 2 | range; track i) {
        @if (
          (section.skills | loved).length === 0 ||
          (section.skills | loved)[i] !== undefined
        ) {
          <app-skill-highlight
            class="loved"
            [attr.data-index]="i"
            [skill]="(section.skills | loved)[i]"
            [iconColor]="
              themeService.isDarkMode
                ? section.sectionColor
                : section.sectionBackgroundColor
            "
            [loading]="
              (section.skills | loved).length === 0
            "></app-skill-highlight>
        }
      }

      <app-skill-section-description
        [mainText]="section.heading"
        [secondaryText]="section.description"></app-skill-section-description>

      <app-skills-recap
        [skills]="section.skills"
        [recapBackgroundColor]="
          section.recapBackgroundColor
        "></app-skills-recap>
    </div>
  </div>
}
