:host {
  padding: 1.2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: var(--text-lg);
  flex-grow: 1;
}

p {
  font-size: var(--text-xxs);
  max-width: 50%;
  flex-grow: 1;
  align-content: flex-end;
  color: var(--gray-500);
}

h2,
p {
  margin: 0;
}

.contact {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
