.title {
  height: 1em;
  width: 80%;
  border-radius: 12px;
}

.text {
  height: 80%;
  border-radius: 12px;
}

.g-grid-item-footer-text {
  display: flex;
  justify-content: flex-end;

  .footer {
    width: 40%;
    height: 1em;
    border-radius: 12px;
  }
}
