@import '../../../../styles/responsive.scss';

:host {
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-direction: column;

  &.is-live {
    cursor: pointer;
    @extend .g-grid-item-shadow !optional;
  }

  @include responsive('medium') {
    padding: 1.2rem 1.5rem;
  }
}

h2 {
  font-size: var(--text-lg);
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;

  span {
    color: var(--gray-300);
  }
}

@keyframes move {
  50% {
    transform: translate(5px, -5px);
  }
}

mat-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  // color: var(--gray-300);

  &.move {
    animation: move 2s infinite ease;
  }
}
