<h2>
  @if (isLive()) {
    <app-dot
      color="var(--open-live-dot-color)"
      [pulse]="isLive() !== null"></app-dot>
    {{ 'projectDetails.openLive.online' | transloco }}
  } @else {
    {{ 'projectDetails.openLive.offline' | transloco }}
  }
</h2>

<p>
  @if (isLive()) {
    {{ 'projectDetails.openLive.accessible' | transloco }}
  } @else {
    {{ 'projectDetails.openLive.private' | transloco }}
  }
</p>

@if (isLive()) {
  <mat-icon class="move"> call_made </mat-icon>
} @else {
  <mat-icon> lock </mat-icon>
}
