@import '../../../styles/breakpoints.scss';

//inspi : https://codepen.io/RemiRuc/pen/PowrNmb

@mixin cardsOpen() {
  .bottom {
    transform: translateY(0);
  }

  .top {
    transform: translateY(0);
  }
}

:host {
  display: block;
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top,
  .bottom {
    transition: 0.3s;
  }

  .top {
    height: 100px;
    background-color: var(--textColor);
    opacity: 0.5;
    transform: translateY(-100px);
  }

  .bottom {
    height: 300px;
    background-color: var(--navbarLinksColor);
    width: 100%;
    transform: translateY(100px);
  }

  &:hover {
    @include cardsOpen();
  }
}
