@import '../../../styles/breakpoints.scss';

//https://www.behance.net/gallery/191435897/Portfolio-Website-Design-Full-Stack-Developer?tracking_source=search_projects|developer+portfolio&l=49

//https://codepen.io/steveschoger/pen/YbQXGq

:host {
  padding: 30px 15px;
  background-color: var(--projectsCardColor);
  border-radius: 15px;
  border: 1px solid;
  border-color: var(--projectBorder);

  .context {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    .company,
    .type {
      padding: 5px 10px;
      border-radius: 25px;
      background-color: var(--projectsCardCompanyBackground);
      border: solid 1px var(--projectsCardCompanyBorder);
    }
  }

  .image {
    margin-top: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .title {
    margin-top: 15px;
    font-size: 1.7rem;
  }

  .description {
    margin-top: 10px;
  }

  .competences {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .go {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px;

    div {
      padding: 5px 10px;
      border-radius: 25px;
      background-color: var(--projectsCardCompanyBackground);
      border: solid 1px var(--projectsCardCompanyBorder);
    }
  }
}
