:host {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: var(--text-xxxl);
  padding-top: 0.2em;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
