:host {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--key-header-background);
}

:not(svg) {
  z-index: 10;
}

h2 {
  font-size: var(--text-xxxl);
  color: var(--key-header-color);
  padding-top: 0.2em;
  margin: 0;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    background-color: var(--key-header-chips-background);
    border: 1px solid var(--key-header-chips-border);
    color: var(--key-header-chips-color);
    font-size: var(--text-xxs);
    border-radius: 10px;
    padding: 0 8px;
  }
}
