:host {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:not(svg) {
  z-index: 10;
}

h2 {
  font-size: var(--text-xxxl);
  padding-top: 0.2em;
  margin: 0;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    background-color: var(--project-item-skill-list-skill-background);
    border: 1px solid var(--project-item-skill-list-skill-border);
    color: var(--project-item-skill-list-color);
    font-size: var(--text-xxs);
    border-radius: 10px;
    padding: 0 8px;
  }
}
