p {
  margin: 0;
  font-family: var(--title-font-family);
  line-height: 1;
}

.numerator {
  color: var(--styles-title-color);
  position: absolute;
  left: 1.2rem;
  top: 1.5rem;
  font-size: var(--text-xxxl);
  font-weight: bold;
  min-width: var(--text-xxxl);
  text-align: center;
}

.denominator {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  color: var(--gray-300);
  font-size: var(--text-lg);
}

.separator {
  height: 1px;
  position: absolute;
  width: 30px;
  background-color: var(--gray-300);
  rotate: -45deg;
  bottom: 2rem;
  right: 1.5rem;
}

app-reset-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
