@import '../../../../styles/responsive.scss';

.numerator,
.denominator {
  font-size: 4rem;
  font-family: var(--title-font-family);

  @include responsive('medium') {
    font-size: 4rem;
  }

  @include responsive('large') {
    font-size: 5.5rem;
  }
}

:host {
  flex-direction: column;
}

.numerator {
  color: var(--styles-title-color);
}

.denominator {
  color: var(--gray-200);
}

hr {
  width: 60%;
  border-radius: 2px;
  border-top: 2px solid var(--gray-100);
  margin: 0;

  @include responsive('medium') {
    border-top-width: 2px;
  }

  @include responsive('large') {
    border-top-width: 4px;
  }
}
