<div class="header">{{ header }}</div>
<div class="options">
  <app-details-menu-option
    (click)="select($event, selectAllOption)"
    (keypress)="select($event, selectAllOption)"
    tabindex="0"
    [option]="selectAllOption"
    [active]="selectedOptions.length === 0">
  </app-details-menu-option>

  @for (option of options; track option.id) {
    <app-details-menu-option
      (click)="select($event, option)"
      (keypress)="select($event, option)"
      tabindex="0"
      [option]="option"
      [active]="
        options.length !== selectedOptions.length &&
        (selectedOptions | isSelected: option)
      ">
    </app-details-menu-option>
  }
</div>
