@import '../../../styles/responsive.scss';

:host {
  padding: 1.3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: var(--text-xxl);
}

h2,
p {
  margin: 0;
}

@keyframes move {
  50% {
    transform: translate(5px, -5px);
  }
}

mat-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;

  animation: move 2s infinite ease;
}

:not(app-mosaique-websites) {
  z-index: 10;
}

app-mosaique-websites {
  position: absolute;
  top: 0;
  left: -30px;
  rotate: 40deg;
}
