@import '../../shared/grid/grid-item.scss';
@import '../../../styles/responsive.scss';

:host {
  @include grid-1x2;

  &:hover {
    .decoration_1,
    .decoration_2,
    .decoration_3 {
      transform: translate(-10%, -5%);
    }
  }
}

.g-grid-item-main-text {
  max-width: 50%;
}

.decoration_1,
.decoration_2,
.decoration_3 {
  position: absolute;
  height: 60px;
  width: 200px;
  border-radius: 15px;
  transform: translate(0, 0);
  transition: transform 500ms linear;

  @include responsive('medium') {
    height: 60px;
    width: 200px;
  }

  @include responsive('large') {
    height: 90px;
    width: 300px;
  }
}

@keyframes decoration_1_enter {
  0% {
    transform: translate(20%, 10%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.decoration_1 {
  background-color: var(--green-250);
  bottom: -45px;
  right: -20px;
  rotate: 35deg;
  z-index: 3;
  animation: decoration_1_enter 1s;

  @include responsive('medium') {
    bottom: -45px;
    right: -20px;
  }

  @include responsive('large') {
    bottom: -45px;
    right: -20px;
  }
}

.decoration_2 {
  background-color: var(--gray-500);
  bottom: -10px;
  right: -40px;
  rotate: 60deg;
  z-index: 2;
  animation: decoration_1_enter 1s;
}

.decoration_3 {
  background-color: var(--blue);
  bottom: 20px;
  right: -75px;
  rotate: 80deg;
  z-index: 1;
  animation: decoration_1_enter 1s;
}
