:host {
  display: block;
  position: relative;
}

.carousel-modal {
  .carousel-items-modal {
    display: flex;
    // overflow: hidden;
    align-items: center;
    height: 100%;
    width: 100%;

    .carousel-item-modal {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      transition: all 0.5s linear;

      img {
        margin: 1rem 0;
        flex-grow: 1;
        max-height: 85vh;
        width: 100%;
        object-fit: contain;
      }

      .legend {
        border-radius: 18px;
        max-width: 50%;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}

.left-arrow,
.right-arrow {
  border-radius: 18px;
  transition: 500ms;

  &:hover {
    box-shadow: rgba(229, 226, 226, 0.3) 0px 0px 0px 4px;
  }
}

.left-arrow {
  padding-left: 6px;
  padding-right: 12px;
}

.right-arrow {
  padding-left: 12px;
  padding-right: 6px;
}

.close {
  border-radius: 18px;
  padding: 0px 8px;

  &:hover {
    box-shadow: rgba(229, 226, 226, 0.3) 0px 0px 0px 4px;
  }
}

.left-arrow,
.right-arrow,
.close {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-arrow,
.right-arrow,
.close,
.legend {
  color: var(--action-button-color);
  background-color: var(--action-button-background);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
