@import '../../../../styles/breakpoints.scss';

:host {
  display: block;
  border-radius: var(--inputs-border-radius);
  border: 2px solid var(--button-plain-border);
  background-image: var(--button-background);
  background-size: cover;
  position: relative;

  .icon-container {
    padding: 8px;
    background-color: white;
    border-radius: var(--inputs-border-radius);

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      display: block;

      @media (min-width: $tablets) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &:after {
    background-color: var(--button-plain-border);
    transition: 0.2s;
    border-radius: var(--inputs-border-radius);

    content: '';
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  &:hover {
    app-right-arrow {
      animation: move 1s linear infinite;
    }

    &:after {
      top: 0px;
      left: 0px;
    }
  }
}

a {
  display: block;
  padding: 1rem 1.5rem 1rem 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  .labels {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .label {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .label,
  .description {
    text-transform: capitalize;
    white-space: nowrap;
  }
}

@keyframes move {
  50% {
    transform: translateX(0.5rem);
  }
}
