@import '../../../styles/responsive.scss';

@keyframes from-bottom {
  0% {
    transform: translateY(80%);
  }

  100% {
    transform: translateY(0);
  }
}

:host {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('large') {
    font-size: 4rem;
  }

  h2 {
    animation: from-bottom 500ms ease-out;
  }
}
