<div class="infos">
  <h2 class="when">
    {{
      item.end_date
        ? (item.end_date | date: 'yyyy')
        : (currentDate | date: 'yyyy')
    }}
  </h2>
  <div class="what">{{ item.description }}</div>
  <div class="where">{{ item.label }}, {{ item.localization }}</div>
  @if (item.project.length > 0) {
    <div
      class="projects"
      [routerLink]="['projects']"
      [queryParams]="{ contexts: item.id }">
      <app-left-arrow></app-left-arrow> {{ item.project.length }} réalisation{{
        item.project.length > 1 ? 's' : ''
      }}
    </div>
  }
</div>
<div class="circle"></div>
