@import './timeline-item-common.scss';

.infos {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

:host {
  justify-content: flex-end;
}

@keyframes move {
  50% {
    transform: translateX(-0.5rem);
  }
}

.circle {
  background-color: var(--timelineLeftCircle);
}

.when {
  color: var(--timelineLeftText);
}

.what,
.where {
  text-align: end;
}
