@use '../../../../styles/responsive.scss' as responsive;

:host {
  padding: 2rem;
}

h2 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
}

@include responsive.responsive('medium') {
  p {
    line-height: 170%;
  }
}
