@import '../../../styles/responsive.scss';

:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.precedent-type,
.next-type {
  width: 25%;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--text-xs);
  display: flex;
  flex-direction: row;
  color: var(--gray-300);
  text-align: center;

  p {
    width: 100%;
  }
}

.current-type {
  flex-grow: 1;
  font-size: var(--text-lg);
  text-align: center;
}

.header,
.footer {
  width: 100%;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  mat-icon,
  .precedent-type,
  .next-type {
    cursor: pointer;
  }
}

.carousel {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
}

.carousel-items {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .carousel-item {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    transition: all 0.5s linear;
  }
}

.skill-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 10px;
  margin-top: 1rem;
  overflow-y: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.skill {
  height: 75px;
  width: 95px;
  background-color: var(--skills-recap-background);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;

  .counter {
    font-size: 0.8rem;
    background-color: var(--skills-recap-counter-bg);
    color: var(--skills-recap-counter-color);
    padding: 1px 8px;
    border-radius: 15px;
  }

  &:hover {
    opacity: 0.8;

    img {
      filter: none;
    }
  }

  mat-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    animation: pulse 1s linear infinite;
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: grayscale(100);
  }

  p {
    width: 100%;
    text-align: center;
  }
}
