@import '../../shared/grid/grid-item.scss';
@import '../../../styles/responsive.scss';

:host {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include responsive('large') {
    padding: 3rem;
  }
}

h3 {
  margin-bottom: 0.3rem;

  @include responsive('large') {
    margin-bottom: 0.7rem;
  }

  //le premier élément
  &:first-child {
    margin-top: 0;
  }

  //tout sauf le premier élément
  &:not(:first-child) {
    margin-top: 1rem;

    @include responsive('large') {
      margin-top: 1.8rem;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;

  div {
    padding: 4px 6px;
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
    color: var(--skill-recap-color);
    cursor: pointer;
    transition: 500ms;

    &:hover {
      opacity: 0.6;
    }

    @include responsive('large') {
      font-size: 1rem;
      padding: 6px 10px;
    }

    &::after {
      border-radius: 6px;
      z-index: -1;
      content: '';
      background-color: var(--skill-recap-bg);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: var(--skill-recap-opacity-bg);

      @include responsive('large') {
        border-radius: 10px;
      }
    }
  }
}
