@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

/* Blinking carret */
@keyframes blink {
    50% { opacity: 0; }
}

:host {
    background-color: red;
    
    .typewriter-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;

        .melo {    
            font-size: 7rem;
            margin-bottom: 0;

            .placeholder {
                opacity: 0;
                color: red;
            }

            @media (max-width: $tablets) {
                margin-top: 20px;
            }
        }

        .blink {
            font-size: 7rem;
            animation: blink-caret .8s linear infinite;
        }        
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        font-size: 1.2rem;
        padding: 0 10px;
        
        @media (min-width: $mobile-m) {
            font-size: 1.5rem;
        }

        @media (min-width: $tablets) {
            margin-bottom: 80px;
        }
    }
}