@import '../../styles/breakpoints.scss';

:host {
    background-color: red;

    .melo {    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 7rem;
        margin-bottom: 0;

        @media (max-width: $tablets) {
            margin-top: 20px;
        }
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        font-size: 1.2rem;
        padding: 0 10px;
        
        @media (min-width: $mobile-m) {
            font-size: 1.5rem;
        }

        @media (min-width: $tablets) {
            margin-bottom: 80px;
        }
    }
}