<!-- <div class="typewriter-container">
  <h1 class="melo">
    <span #title></span><span class="blink">_</span
    ><span class="placeholder" #placeholder>{{ titleContent }}</span>
  </h1>
</div> -->

<div class="hero g-container">
  <div class="hero-grid">
    <div class="title">
      <h1>MELO</h1>
      <h2>Ingénieur. Développeur. Fullstack.</h2>
    </div>

    <div class="image">
      <svg
        class="svg"
        viewBox="0 0 431 462"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <defs>
          <pattern
            id="img1"
            patternContentUnits="objectBoundingBox"
            width="100%"
            height="100%"
            preserveAspectRatio="xMidYMid slice">
            <image
              width="1"
              height="1"
              href="photos/no_image.jpg"
              x="0"
              y="0"
              preserveAspectRatio="xMidYMid slice" />
          </pattern>
          <pattern
            id="gradient"
            patternContentUnits="objectBoundingBox"
            width="100%"
            height="100%">
            <image height="1" href="gradient.svg" x="0" y="0" />
          </pattern>
          <pattern
            id="gradient-dark"
            patternContentUnits="objectBoundingBox"
            width="100%"
            height="100%">
            <image height="1" href="gradient-dark.svg" x="0" y="0" />
          </pattern>
        </defs>

        @if (themeService.isDarkMode) {
          <path
            d="M0 462C168.316 462 262.684 462 431 462C431 358.902 431 198 431 198C431 -66 0 -66 0 198C0 198 0 358.902 0 462Z"
            fill="url(#gradient-dark)" />
        } @else {
          <path
            d="M0 462C168.316 462 262.684 462 431 462C431 358.902 431 198 431 198C431 -66 0 -66 0 198C0 198 0 358.902 0 462Z"
            fill="url(#gradient)" />
        }

        <path
          d="M15 446C171.6 446 259.4 446 416 446C416 350.043 416 200.286 416 200.286C416 -45.4286 15 -45.4286 15 200.286C15 200.286 15 350.043 15 446Z"
          fill="url(#img1)" />
      </svg>
    </div>

    <div class="description g-text">
      {{ contentService.description }}
    </div>

    <div class="contact">
      <app-button [style]="'outlined'" (buttonClicked)="goToContact()"
        >Me contacter</app-button
      >
    </div>
  </div>
</div>

<app-row-with-separator>
  <app-title-separator
    heading="Mes compétences"
    subtitle="outils"
    description="Du frontend au backend en passant par le design et la gestion de projet, je suis polyvalent tout en gardant une expertise sur les technologies qui me tiennent à coeur."></app-title-separator>

  <div class="g-container skills-grid">
    @for (skill of skills; track skill.id) {
      <app-skill-front-page
        [skill]="skill"
        [routerLink]="['projects']"
        [queryParams]="{ skills: skill.id }"
        [fragment]="'archives'"
        appTooltip
        [tooltip]="'Voir mes projets avec ' + skill.label"
        [position]="'right'"></app-skill-front-page>
      <!-- <div
        class="skill-keyword"
        
        
        >
        <div class="circle" [style.backgroundColor]="skill.color"></div>
        {{ skill.label }}
      </div> -->
    }
  </div>
</app-row-with-separator>

<app-title-separator
  heading="Comment je peux vous aider"
  subtitle="Méthodes"
  description="Afin de répondre au mieux aux problématiques métier, j'apprécie analyser et discuter de plusieurs solutions pour implémenter celle qui répondra parfaitement au sujet donné."></app-title-separator>

<app-section-group [sections]="sections"></app-section-group>

<app-row-with-separator>
  <app-title-separator
    heading="Ils m'ont fait confiance"
    subtitle="Expérience"
    description="J'apprécie travailler avec des entreprises de tout horizon, allant des start-ups aux grands groupes en passant par les particuliers."></app-title-separator>

  <ng-template #contextList>
    @for (context of clients; track context.id) {
      <app-button
        [routerLink]="['projects']"
        [queryParams]="{ contexts: context.id }"
        [fragment]="'archives'"
        appTooltip
        [tooltip]="'Voir mes projets chez ' + context.label"
        [position]="'above'"
        [style]="'plain'">
        @if (context.icon) {
          <img [src]="context.icon" alt="" icon />
        }
        {{ context.label }}
      </app-button>
    }
  </ng-template>

  <app-moving-content
    [temp]="contextList"
    [fade]="true"
    [animationDuration]="30"
    [gap]="'2rem'"
    [useAltFadeColor]="true">
  </app-moving-content>
</app-row-with-separator>

<app-title-separator
  heading="D'où je viens"
  subtitle="Parcours"
  description="Fort de plusieurs années d'experience chez Bosch et d'un parcours universitaire riche, je suis désormais développeur fullstack en freelance, à Caen."></app-title-separator>

<app-timeline></app-timeline>
