@import '../../../shared/grid/grid-item.scss';
@import '../../../../styles/responsive.scss';

:host {
  @include grid-1x1;
}

.skill-status {
  background-color: var(--green-250);
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 16px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: white;
  transition: 500ms linear;
  font-size: 0.8rem;
  padding-right: 4px;
  padding-bottom: 4px;

  mat-icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
  }

  @include responsive('medium') {
    height: 60px;
    width: 60px;
    border-top-left-radius: 20px;
    font-size: 0.8rem;
    gap: 2px;
    padding: 0;

    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }

  @include responsive('large') {
    height: 90px;
    width: 90px;
    border-top-left-radius: 30px;
    font-size: 1rem;
    gap: 6px;

    mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }

  &.completed {
    background-color: var(--project-item-completed-background);
    color: var(--project-item-completed-color);
  }

  &.abandoned {
    background-color: var(--project-item-abandoned-background);
    color: var(--project-item-abandoned-color);
  }

  &.ongoing {
    background-color: var(--project-item-ongoing-background);
    color: var(--project-item-ongoing-color);
  }
}
