<h2>{{ project.label }}</h2>

<div class="g-grid-item-main-text">
  <app-project-item-skill-list
    [skills]="highlightedSkills"></app-project-item-skill-list>
</div>

<div class="skill-status" [class]="project | status">
  <mat-icon>
    @switch (project | status) {
      @case ('abandoned') {
        delete
      }
      @case ('ongoing') {
        precision_manufacturing
      }
      @case ('completed') {
        check
      }
    }
  </mat-icon>
  <div class="date">{{ project.start_date | date: 'yyyy' }}</div>
</div>

<app-action-button
  [text]="'En savoir plus'"
  [routerLink]="['/projects', project.url]"
  [icon]="'visibility'">
</app-action-button>
