@import '../../../../styles/responsive.scss';

:host {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    .illustration-container {
      rotate: -5deg;

      img {
        filter: none;
      }
    }
  }
}

h2,
p {
  margin: 0;
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2 {
  font-size: var(--text-md);
}

p {
  font-size: var(--text-xxs);
  flex-grow: 1;
}

@keyframes slideToLeft {
  0% {
    transform: translate(20%, -50%);
  }

  100% {
    transform: translate(0%, -50%);
  }
}

.illustration-container {
  width: 35%;
  height: 85%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--gray-200);
  animation: slideToLeft 1s;
  transition: 300ms linear;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
}
