<div class="detailed-card">
  <div class="icon">
    <img width="32" height="32" [ngSrc]="skill.icon" alt="" />
  </div>
  <div class="label">
    <div class="skill">{{ skill.label }}</div>
    <div class="skill-type">{{ skill.skill_type.label }}</div>
  </div>
  @if (skill.projects.length > 0) {
    <hr />
    <div
      class="projects"
      [routerLink]="['/projects']"
      [queryParams]="{ skills: skill.id }"
      [fragment]="'archives'">
      <div class="project-icons">
        @for (project of skill.projects | slice: 0 : 8; track project.id) {
          @if (project.icon) {
            <div class="project-icon">
              <img width="16" height="16" [ngSrc]="project.icon" alt="" />
            </div>
          } @else {
            <div class="default-circle"></div>
          }
        }
      </div>
      <div class="count">
        <div [ngPlural]="skill.projects.length">
          <ng-template ngPluralCase="0"></ng-template>
          <ng-template ngPluralCase="1">1 réalisation</ng-template>
          <ng-template ngPluralCase="other"
            >{{ skill.projects.length }} réalisations</ng-template
          >
        </div>
      </div>
    </div>
  }
</div>
