@use '../../../styles/responsive.scss' as responsive;

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

:host {
  cursor: pointer;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  mat-icon {
    animation: pulse 1s linear;
    color: var(--skill-highlight-icon-color);
  }

  &:hover {
    mat-icon {
      animation: pulse 1s linear infinite;
    }
  }
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: var(--text-xl);
  margin-bottom: 1rem;
}

.description {
  flex-grow: 1;

  @include responsive.responsive('medium') {
    font-size: var(--text-xs);
  }
}

.footer {
  font-size: var(--text-xs);
  color: var(--gray-300);
  text-align: end;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
