@import '../../../../styles/responsive.scss';

:host {
  padding: 1.2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

h2,
p {
  margin: 0;
}

p {
  color: var(--gray-500);
  flex-grow: 1;
  align-content: end;
}

h2 {
  padding-top: 0.2em;
  font-size: var(--text-xl);
}

.duration-badge {
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  font-size: var(--text-xxs);
  background-color: var(--project-item-skill-list-skill-background);
  border: 1px solid var(--project-item-skill-list-skill-border);
  color: var(--project-item-skill-list-color);
  padding: 2px 8px;
  border-radius: 15px;
}
