@import '../../../../styles/responsive.scss';

@keyframes extend-grid {
  100% {
    width: var(--bar-width);
  }
}

@keyframes end-items-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

$bar-animation-duration: 2s;

.g-grid-item-main-text {
  display: flex;
  align-items: flex-end;
}

h2 {
  &.completed span {
    color: var(--project-duration-completed);
  }

  &.ongoing span {
    color: var(--project-duration-ongoing);
  }

  &.abandoned span {
    color: var(--project-duration-abandoned);
  }
}

.frise {
  width: 10%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  animation: extend-grid $bar-animation-duration forwards;

  @include responsive('large') {
    column-gap: 18px;
  }

  @include responsive('large') {
    column-gap: 26px;
  }

  &.completed {
    --bar-width: 100%;

    .bar {
      background-color: var(--project-duration-completed);
    }

    mat-icon {
      color: var(--project-duration-completed);
    }
  }

  &.abandoned {
    --bar-width: 75%;

    .bar {
      background-color: var(--project-duration-abandoned);
    }

    mat-icon {
      color: var(--project-duration-abandoned);
    }
  }

  &.ongoing {
    --bar-width: 75%;

    .bar {
      background-color: var(--project-duration-ongoing);
    }

    mat-icon {
      color: var(--project-duration-ongoing);
    }
  }

  .start-date-year {
    grid-row: 1;
    grid-column: 1;
  }

  .start-date-month {
    grid-row: 3;
    grid-column: 1;
  }

  .end-date-year {
    text-align: end;
    grid-row: 1;
    grid-column: 2;
    animation: end-items-appearance 1s forwards;
    animation-delay: $bar-animation-duration;
    opacity: 0;
  }

  .end-date-month {
    text-align: end;
    grid-row: 3;
    grid-column: 2;
    animation: end-items-appearance 1s forwards;
    animation-delay: $bar-animation-duration;
    opacity: 0;
  }

  .bar-container {
    grid-row: 2;
    grid-column: 1 / 3;

    .bar {
      border-radius: 10px;
      height: 1rem;
      width: 100%;
    }
  }

  .icon-container {
    grid-row: 1 / 4;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      animation: end-items-appearance 1s forwards;
      animation-delay: $bar-animation-duration;
      opacity: 0;

      @include responsive('medium') {
        transform: scale(1.2);
      }

      @include responsive('large') {
        transform: scale(2);
      }
    }
  }
}
