@import '../../../styles/responsive.scss';

:host {
  min-height: 400px;
  display: block;
}

.loved-learning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  .heading {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 1rem 0;
    justify-content: center;
  }

  @include responsive('medium') {
    flex-direction: row;
    gap: 4rem;

    .heading {
      justify-content: flex-start;
    }
  }
}

.worked-with {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .heading {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.category {
  font-weight: bold;
}

.loved,
.learning {
  .list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

app-highlightable-chip {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
