<div class="loved-learning">
  @if (loved.length > 0) {
    <div class="loved">
      <div class="heading"><mat-icon>favorite</mat-icon>Préférées</div>
      <div class="list">
        @for (skill of loved; track skill.id) {
          <app-skill-detailed-card [skill]="skill"></app-skill-detailed-card>
        }
      </div>
    </div>
  }

  @if (learning.length > 0) {
    <div class="learning">
      <div class="heading"><mat-icon>school</mat-icon>En apprentissage</div>
      <div class="list">
        @for (skill of learning; track skill.id) {
          <app-skill-detailed-card [skill]="skill"></app-skill-detailed-card>
        }
      </div>
    </div>
  }
</div>

<div class="worked-with">
  @for (skills of workedWith | keyvalue; track skills.key) {
    <span class="category">{{ skills.key }}</span>
    @for (skill of skills.value; track skill.id) {
      <app-highlightable-chip
        appTooltip
        [tooltip]="
          skill.projects.length +
          ' réalisation' +
          (skill.projects.length > 1 ? 's' : '')
        "
        [routerLink]="['/projects']"
        [queryParams]="{ skills: skill.id }"
        [fragment]="'archives'"
        [highlighted]="skill.main">
        {{ skill.label }}
      </app-highlightable-chip>
    }
  }
</div>
