<ng-template #inconstruction>
  <div>Site en construction <mat-icon>precision_manufacturing</mat-icon></div>
  <div>Site en construction <mat-icon>precision_manufacturing</mat-icon></div>
  <div>Site en construction <mat-icon>precision_manufacturing</mat-icon></div>
  <div>Site en construction <mat-icon>precision_manufacturing</mat-icon></div>
  <div>Site en construction <mat-icon>precision_manufacturing</mat-icon></div>
</ng-template>

<app-moving-content [temp]="inconstruction" [gap]="'0'"> </app-moving-content>
