@import '../../styles/responsive.scss';

app-description {
  grid-column: 1 / 5;
  grid-row: 3;

  @include responsive('medium') {
    grid-column: 1 / 5;
    grid-row: 4;
  }
}

app-mail {
  grid-column: 1 / 3;
  grid-row: 4 / 6;

  @include responsive('medium') {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }
}

app-map {
  grid-column: 3 / 5;
  grid-row: 4 / 6;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
  }
}

app-linkedin,
app-github {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);

  @include responsive('medium') {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}

.linkedin {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('medium') {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
  }
}

.github {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--home-github-background-color);
  color: var(--home-github-icon-color);

  @include responsive('medium') {
    grid-column: 7 / 9;
    grid-row: 3 / 5;
  }
}

app-resume {
  grid-column: 1 / 5;
  grid-row: 7 / 9;

  @include responsive('medium') {
    grid-column: 1 / 5;
    grid-row: 5 / 7;
  }
}

app-now {
  grid-column: 1 / 5;
  grid-row: 9 / 12;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 5 / 8;
  }
}

app-availability {
  grid-column: 1 / 5;
  grid-row: 6;

  @include responsive('medium') {
    grid-column: 1 / 5;
    grid-row: 7;
  }
}

app-image {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  @include responsive('medium') {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
}

app-freelance-since {
  grid-column: 3 / 5;
  grid-row: 1;

  @include responsive('medium') {
    grid-column: 3 / 5;
    grid-row: 1;
  }
}
