@import '../../styles/responsive.scss';

app-description {
  grid-column: 1 / 5;
  grid-row: 3;

  @include responsive('medium') {
    grid-column: 1 / 5;
    grid-row: 4;
  }
}

app-mail {
  grid-column: 1 / 3;
  grid-row: 4 / 6;

  @include responsive('medium') {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }
}

app-map {
  grid-column: 3 / 5;
  grid-row: 4 / 6;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
  }
}

.linkedin {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('medium') {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
  }

  app-linkedin {
    width: 24px;
    height: 24px;
  }
}

.github {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('medium') {
    grid-column: 7 / 9;
    grid-row: 3 / 5;
  }

  app-github {
    width: 24px;
    height: 24px;
  }
}

app-resume {
  grid-column: 1 / 5;
  grid-row: 7 / 9;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 6 / 8;
  }
}

app-now {
  grid-column: 1 / 5;
  grid-row: 9 / 12;

  @include responsive('medium') {
    grid-column: 1 / 5;
    grid-row: 5 / 8;
  }
}

app-availability {
  grid-column: 1 / 5;
  grid-row: 6;

  @include responsive('medium') {
    grid-column: 5 / 9;
    grid-row: 5;
  }
}

app-image {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  @include responsive('medium') {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
}

app-freelance-since {
  grid-column: 3 / 5;
  grid-row: 1;

  @include responsive('medium') {
    grid-column: 3 / 5;
    grid-row: 1;
  }
}
