@import '../../../../../styles/responsive.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: var(--text-xl);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.avatar-container {
  overflow: hidden;
  height: 120px;
  width: auto;

  @include responsive('medium') {
    height: 140px;
  }

  img {
    transition: 1s;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

p {
  color: var(--gray-400);
  text-align: center;
  min-height: 2rem;
}

h3 {
  position: relative;

  app-action-button {
    right: -50px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
