:host {
  border: 1px solid var(--filter-chip-border-color);
  display: block;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: var(--inputs-border-radius);
  position: relative;

  span {
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
  }

  font-size: 0.8rem;

  height: 1.7rem;

  &.large {
    height: 2.5rem;
  }
}
