@import '../../../styles/responsive.scss';

:host {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    .illustration-container {
      transform: translateY(5%);
      box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 15px 0px;
      rotate: -5deg;
    }
  }
}

svg {
  position: absolute;
  right: 10%;
  bottom: 0;
}

h2 {
  margin: 0;
  flex-grow: 1;
  font-size: var(--text-xxxl);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
}

.illustration-container {
  width: 120px;
  position: absolute;
  right: 5%;
  top: 40%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 10px 0px;
  animation: slideInFromBottom 1s;
  transition: 0.5s;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: contain;
  }

  @include responsive('medium') {
    width: 160px;
  }

  @include responsive('large') {
    width: 250px;
  }
}

//Handle modal animation
//https://codepen.io/designcouch/pen/obvKxm

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1000;

  .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.98);
    text-align: center;
    vertical-align: middle;

    .modal {
      background: white;
      display: inline-block;
      border-radius: 3px;
      font-weight: 300;
      position: relative;
      border-radius: 30px;
      overflow: hidden;
    }
  }

  &.opened {
    transform: scale(1);

    .modal-background {
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .modal {
        opacity: 0;
        animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }

    &.out {
      animation: quickScaleDown 0s 0.2s linear forwards;

      .modal-background {
        animation: fadeOut 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

        .modal {
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
}

.modal-img {
  max-width: 90vw;
  max-height: 90vh;
}
